@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}
@function get-vw-mob($object) {
  $vw: (360 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh-mob($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

.ddEventActive {
  background-image: url("./../assets/Elements/DriveDrive/Events/DD-Events-Hover-Active-state-pink.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
  margin: -50px;
}

#ddEventsInfobox {
  background-image: url("./../assets/Elements/DriveDrive/Events/DD-Events-infobox-red-gradient.png");
  filter: drop-shadow(0 0 0.75rem rgba(246, 173, 173, 0.5));
}


//MOBILE
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {}
