@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}


.eventList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  position: absolute;
  // height: 100%;
  // width: 100%;
  top: get-vh(405px);
  left: get-vw(54.7px);
}

.eventDetails {
  display: flex;
  flex-direction: column;
  justify-content: margin-left;
  align-items: margin-left;
  font-family: TimesNewRomanPSMT;
  font-size: get-vw(20px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: get-vw(-0.9px);
  text-align: left;
  color: #222222;
  width: get-vw(435px);
  height: get-vh(100.9px);
  padding: 30px;
  margin: -22px;
  div {
    p {
      &:first-child {
  	    height: get-vh(33px);
        margin-left: get-vw(49.3px);
        font-family: TimesNewRomanPSMT;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.18;
        letter-spacing: -0.9px;
        text-align: left;
        color: #222222;
      }
      &:nth-child(2) {
  	    height: get-vh(33px);
        margin-left: get-vw(49.3px);
        font-family: TimesNewRomanPSMT;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.85;
        letter-spacing: -0.9px;
        text-align: left;
        color: #222222;
      }
    }
  }

}

#eve-disp {
  display: none;
}

.eventsInfoBox {
  display: flex;
  justify-content: center;
  position: absolute;
  left: get-vw(528px);
  width: get-vw(740px);
  height: get-vh(1021px);
  background-size: get-vw(740px) get-vh(1021px);
  overflow-y: scroll;

  div {
    width: 94%;
  }
}

.events-img {
    width:85%;
    margin-left: get-vw(40px);
    margin-right: get-vw(1px);
}

.event-top-title {
width: get-vw(723px);
height: get-vh(33px);
top: get-vh(13px);
font-family: TimesNewRomanPSMT;
font-size: 30px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -1.9px;
text-align: left;


}

.ddevent-top-title {
width: get-vw(723px);
height: get-vh(33px);
top: get-vh(13px);
font-family: TimesNewRomanPSMT;
font-size: 30px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -1.9px;
text-align: left;


}




////////////////////////////////////////////////////////////////////////////////////////////////////////////
//MEDIA Q HERE STOP TYPING HERE EXPECTIGN THING TO CHANGE ON WEB ELENA!

@function get-vw-mob($object) {
  $vw: (360 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh-mob($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

// @media only screen and (orientation: portrait) {

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  #eve-disp {
    display: block;
    position: absolute;
    height: get-vh-mob(46px);
    width: get-vw-mob(112px);
    top: get-vh-mob(127px);
    left: get-vw-mob(133px);
      p {
        color: orange;
        font-size: 41px;
        text-align: center;
      }
  }

  .eventList {
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    position: absolute;
    // min-height: 44.97751vh;
    // height: 250px;
        height: 50%;
    width: 100%;
    top: 23vh;
    margin-left: -0.83333vw;
    overflow-y: scroll;
    overflow-x: hidden; }
  .eventDetails {
    display: flex;
    flex-direction: column;
    justify-content: margin-left;
    align-items: margin-left;
    font-family: TimesNewRomanPSMT;
    font-size: 5.55556vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: -0.25vw;
    text-align: left;
    color: #222222;
    width: 85.55556vw;
    height: 16.17691vh;
    // margin: 0px;
    margin-left: 0px;
    padding: 25px; }
    .eventDetails div p:first-child {
      margin-left: 10.91667vw;
      margin-top: 4.16792vh;
      font-family: TimesNewRomanPSMT;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.18;
      letter-spacing: -0.9px;
      color: #222222; }
    .eventDetails div p:nth-child(2) {
      margin-left: 10.91667vw;
      margin-bottom: 4.52774vh;
      font-family: TimesNewRomanPSMT;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.85;
      letter-spacing: -0.9px;
      color: #222222; }
  .eventsInfoBox {
    position: absolute;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 56.52174vh;
    left: 0vw;
    width: 104.16667vw;
    height: 110.1949vh;
    background-image: linear-gradient(to bottom, #fbcaca, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll; }
    .eventsInfoBox div {
      width: 94%; }
  .events-img {
    width: 99%;
    margin-left: 0.77922vw;
    margin-right: 0.77922vw; }
  .event-top-title {
    width: 101.94444vw;
    height: 5.24738vh;
    top: 1.94903vh;
    font-family: TimesNewRomanPSMT;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left;
     }
  .ddevent-top-title {
    width: 101.94444vw;
    height: 5.24738vh;
    top: 1.94903vh;
    font-family: TimesNewRomanPSMT;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left;
     } }


     @media only screen
       and (min-device-width: 768px)
       and (max-device-width: 1024px)
       and (orientation: portrait)
       and (-webkit-min-device-pixel-ratio: 1) {

         .eventList {
           display: flex;
           flex-direction: column;
           justify-content: flex-start;
           align-items: space-between;
           position: absolute;
           // height: 100%;
           // width: 100%;
           top: get-vh(405px);
           left: get-vw(54.7px);
         }

         .eventDetails {
           display: flex;
           flex-direction: column;
           justify-content: margin-left;
           align-items: margin-left;
           font-family: TimesNewRomanPSMT;
           font-size: get-vw(20px);
           font-weight: normal;
           font-style: normal;
           font-stretch: normal;
           line-height: 1.85;
           letter-spacing: get-vw(-0.9px);
           text-align: left;
           color: #222222;
           width: get-vw(440px);
           height: get-vh(120px);
           padding: 20px;
           margin: -22px;
           div {
             p {
               &:first-child {
           	    height: get-vh(40px);
                 margin-top: get-vh(38px);
                 margin-left: get-vw(49.3px);
                 font-family: TimesNewRomanPSMT;
                 font-size: 13px;
                 font-weight: normal;
                 font-style: normal;
                 font-stretch: normal;
                 line-height: 1.5;
                 letter-spacing: -0.9px;
                 text-align: left;
                 color: #222222;
               }
               &:nth-child(2) {
           	    height: get-vh(35px);
                margin-top: get-vh(-8px);
                 margin-left: get-vw(38px);
                 font-family: TimesNewRomanPSMT;
                 font-size: 13px;
                 font-weight: normal;
                 font-style: normal;
                 font-stretch: normal;
                 line-height: 0;
                 letter-spacing: -0.9px;
                 text-align: left;
                 color: #222222;
               }
             }
           }

         }

         #eve-disp {
           display: none;
         }

         .eventsInfoBox {
           display: flex;
           justify-content: center;
           position: absolute;
           left: get-vw(528px);
           width: get-vw(740px);
           height: get-vh(1021px);
           background-size: get-vw(740px) get-vh(1021px);
           overflow-y: scroll;

           div {
             width: 94%;
           }
         }

         .events-img {
             width:85%;
             margin-left: get-vw(40px);
             margin-right: get-vw(1px);
         }

         .event-top-title {
         width: get-vw(723px);
         height: get-vh(33px);
         top: get-vh(13px);
         font-family: TimesNewRomanPSMT;
         font-size: 30px;
         font-weight: normal;
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: -1.9px;
         text-align: left;


         }

         .ddevent-top-title {
         width: get-vw(723px);
         height: get-vh(33px);
         top: get-vh(13px);
         font-family: TimesNewRomanPSMT;
         font-size: 30px;
         font-weight: normal;
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: -1.9px;
         text-align: left;


         }


}


@media only screen
  and (max-device-width: 1366px)
  and (min-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

             .eventList {
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
               align-items: space-between;
               position: absolute;
               // height: 100%;
               // width: 100%;
               top: get-vh(405px);
               left: get-vw(54.7px);
             }

             .eventDetails {
               display: flex;
               flex-direction: column;
               justify-content: margin-left;
               align-items: margin-left;
               font-family: TimesNewRomanPSMT;
               font-size: get-vw(20px);
               font-weight: normal;
               font-style: normal;
               font-stretch: normal;
               line-height: 1.85;
               letter-spacing: get-vw(-0.9px);
               text-align: left;
               color: #222222;
               width: get-vw(440px);
               height: get-vh(120px);
               padding: 20px;
               margin: -22px;
               div {
                 p {
                   &:first-child {
               	    height: get-vh(40px);
                     margin-top: get-vh(38px);
                     margin-left: get-vw(49.3px);
                     font-family: TimesNewRomanPSMT;
                     font-size: 13px;
                     font-weight: normal;
                     font-style: normal;
                     font-stretch: normal;
                     line-height: 1.5;
                     letter-spacing: -0.9px;
                     text-align: left;
                     color: #222222;
                   }
                   &:nth-child(2) {
               	    height: get-vh(35px);
                    margin-top: get-vh(-8px);
                     margin-left: get-vw(38px);
                     font-family: TimesNewRomanPSMT;
                     font-size: 13px;
                     font-weight: normal;
                     font-style: normal;
                     font-stretch: normal;
                     line-height: 0;
                     letter-spacing: -0.9px;
                     text-align: left;
                     color: #222222;
                   }
                 }
               }

             }
  }
