@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

.eventsContainer {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 5.9375vw);
  grid-template-rows: repeat(12, 8.33333%);
  grid-column-gap: 2.34375vw;
  margin: 0px;
  overflow-x: hidden; }

.eventsInfoBox {
  grid-column: 5 / 10;
  grid-row: 1 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48.05195vw;
  height: 99.70703vh;
  background-size: get-vw(740px) get-vh(1021px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.events-img {
  width: 100%;
  height: auto;
}

.event-top-title {
  width: get-vw(723px);
  height: get-vh(33px);
  font-family: TimesNewRomanPSMT;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.9px;
  text-align: left;
}

.eventsInfoHidden {
  display: none;
}

.eventList {
  grid-column: 1 / 4;
  grid-row: 3 / span 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 9.375vw;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28.24675vw;
  height: 9.85352vh;
  padding: 30px;
  margin: -22px;

  p {
    margin: 0;
    padding: 0;
  }

  .eventsDetailDate {
    margin-left: 50px;
    font-family: TimesNewRomanPSMT;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222;
  }

  .eventsDetailTitle {
    margin-left: 50px;
    font-family: TimesNewRomanPSMT;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222;
  }
}

#eve-disp {
  display: none;
}




@media only screen
and (min-device-width: 300px)
and (max-device-width: 700px)
and (orientation: portrait) {


@function get-mob-vw($object) {
  $vw: (300 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-mob-vh($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}
  .eventsContainer {
    display: grid;
    grid-template-rows: 32.2962962962963vh 1fr 1fr;
    grid-template-columns: repeat(4, 22.22222222222222vw);
    grid-column-gap: 2.7777777777777777vw;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
   }

   .eventList {
     grid-column: 1 / 4;
     grid-row: 2 / 3;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100vw;
     margin: 0;
   }

   .eventDetails {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 92.26666666666667vw;
     height: 16.041979010494753vh;
      padding: 10px;
      margin: 0;
     p {
       margin: 0;
       padding: 0;
     }

     .eventsDetailDate {
       margin-left: 50px;
       font-family: TimesNewRomanPSMT;
       font-size: 14px;
       font-weight: normal;
       font-style: normal;
       font-stretch: normal;
       letter-spacing: -0.9px;
       text-align: left;
       color: #222222;
     }

     .eventsDetailTitle {
       margin-left: 50px;
       font-family: TimesNewRomanPSMT;
       font-size: 20px;
       font-weight: normal;
       font-style: normal;
       font-stretch: normal;
       letter-spacing: -0.9px;
       text-align: left;
       color: #222222;
     }
   }

.eventDetailsHidden {
  display: none;
}

  .eventsInfoBox {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-end;
    transition: all 0.6s;
  }


.eventInfo {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.eventsInfoHidden {
  display: none;
}

  .events-img {
    width: 100%;
    height: auto;
  }

  .event-top-title {
    width: get-vw(723px);
    height: get-vh(33px);
    font-family: TimesNewRomanPSMT;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left;
  }

  .eventsInfoBoxHidden {
    display: none;
  }



}
/// PLEASE Leave this here :) // Working on this section
////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD  ////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD
/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
/// PLEASE Leave this here :)
//
//      @media only screen
//        and (min-device-width: 768px)
//        and (max-device-width: 1024px)
//        and (orientation: portrait)
//        and (-webkit-min-device-pixel-ratio: 1) {
//
//          .eventList {
//            display: flex;
//            flex-direction: column;
//            justify-content: flex-start;
//            align-items: space-between;
//            position: absolute;
//            // height: 100%;
//            // width: 100%;
//            top: get-vh(405px);
//            left: get-vw(54.7px);
//          }
//
//          .eventDetails {
//            display: flex;
//            flex-direction: column;
//            justify-content: margin-left;
//            align-items: margin-left;
//            font-family: TimesNewRomanPSMT;
//            font-size: get-vw(20px);
//            font-weight: normal;
//            font-style: normal;
//            font-stretch: normal;
//            line-height: 1.85;
//            letter-spacing: get-vw(-0.9px);
//            text-align: left;
//            color: #222222;
//            width: get-vw(440px);
//            height: get-vh(120px);
//            padding: 20px;
//            margin: -22px;
//            div {
//              p {
//                &:first-child {
//            	    height: get-vh(40px);
//                  margin-top: get-vh(38px);
//                  margin-left: get-vw(49.3px);
//                  font-family: TimesNewRomanPSMT;
//                  font-size: 13px;
//                  font-weight: normal;
//                  font-style: normal;
//                  font-stretch: normal;
//                  line-height: 1.5;
//                  letter-spacing: -0.9px;
//                  text-align: left;
//                  color: #222222;
//                }
//                &:nth-child(2) {
//            	    height: get-vh(35px);
//                 margin-top: get-vh(-8px);
//                  margin-left: get-vw(38px);
//                  font-family: TimesNewRomanPSMT;
//                  font-size: 13px;
//                  font-weight: normal;
//                  font-style: normal;
//                  font-stretch: normal;
//                  line-height: 0;
//                  letter-spacing: -0.9px;
//                  text-align: left;
//                  color: #222222;
//                }
//              }
//            }
//
//          }
//
//          #eve-disp {
//            display: none;
//          }
//
//          .eventsInfoBox {
//            display: flex;
//            justify-content: center;
//            position: absolute;
//            left: get-vw(528px);
//            width: get-vw(740px);
//            height: get-vh(1021px);
//            background-size: get-vw(740px) get-vh(1021px);
//            overflow-y: scroll;
//
//            div {
//              width: 94%;
//            }
//          }
//
//          .events-img {
//              width:85%;
//              margin-left: get-vw(40px);
//              margin-right: get-vw(1px);
//          }
//
//          .event-top-title {
//          width: get-vw(723px);
//          height: get-vh(33px);
//          top: get-vh(13px);
//          font-family: TimesNewRomanPSMT;
//          font-size: 30px;
//          font-weight: normal;
//          font-style: normal;
//          font-stretch: normal;
//          line-height: normal;
//          letter-spacing: -1.9px;
//          text-align: left;
//
//
//          }
//
//          .ddevent-top-title {
//          width: get-vw(723px);
//          height: get-vh(33px);
//          top: get-vh(13px);
//          font-family: TimesNewRomanPSMT;
//          font-size: 30px;
//          font-weight: normal;
//          font-style: normal;
//          font-stretch: normal;
//          line-height: normal;
//          letter-spacing: -1.9px;
//          text-align: left;
//
//
//          }
//
//
// }
//
// @media only screen
//   and (max-device-width: 1366px)
//   and (min-device-width: 1024px)
//   and (orientation: landscape)
//   and (-webkit-min-device-pixel-ratio: 1) {
// .eventList {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: space-between;
//   position: absolute;
//   // height: 100%;
//   // width: 100%;
//   top: get-vh(405px);
//   left: get-vw(54.7px);
// }
//
// .eventDetails {
//   display: flex;
//   flex-direction: column;
//   justify-content: margin-left;
//   align-items: margin-left;
//   font-family: TimesNewRomanPSMT;
//   font-size: get-vw(20px);
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.85;
//   letter-spacing: get-vw(-0.9px);
//   text-align: left;
//   color: #222222;
//   width: get-vw(440px);
//   height: get-vh(120px);
//   padding: 20px;
//   margin: -22px;
//   div {
//     p {
//       &:first-child {
//   	    height: get-vh(40px);
//         margin-top: get-vh(38px);
//         margin-left: get-vw(49.3px);
//         font-family: TimesNewRomanPSMT;
//         font-size: 13px;
//         font-weight: normal;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: 1.5;
//         letter-spacing: -0.9px;
//         text-align: left;
//         color: #222222;
//       }
//       &:nth-child(2) {
//   	    height: get-vh(35px);
//        margin-top: get-vh(-8px);
//         margin-left: get-vw(38px);
//         font-family: TimesNewRomanPSMT;
//         font-size: 13px;
//         font-weight: normal;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: 0;
//         letter-spacing: -0.9px;
//         text-align: left;
//         color: #222222;
//       }
//     }
//   }
//
//            // }
// }
