@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}
/* STYLING FOR BIG-MAC (DRIVEDRIVE) LOGO. */
#DriveDrive {
  width: get-vw(354px);
}

.burger {
  display: none;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 8.33333333%);
  grid-column-gap: get-vw(30px);
  overflow: hidden;
  margin: 0px;
}



.drivedrive-menu {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
  justify-self: start;
  top: 5vh;
  left: 10vw;
  height: get-vh(144.84px);
  width: get-vw(294.22px);
  ul {
    height: auto;
    width: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: get-vh(20px);
    left:get-vw(20px);
  }
}

.home-video {
  grid-column: 1 / span 4;
  grid-row: 8 / 12;
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: end;

  div {
    height: get-vh(276px);
    width: get-vw(377px);
    justify-self: center;
    align-self: center;
    background: url('/assets/Elements/Home/Home-video-cloud-grey.svg') no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #home-v {
      justify-self: center;
      align-self: center;
      width: get-vw(300px);
      height: get-vh(150px);
      z-index: 333333;
      z-index: 333333;
      margin-left: -2vw;
      source {
        height: 100%;
        width: 100%;
      }
    }
  }
}

#gallery-space-img {
  width: 90%;
  height: 90vh;
  margin-left: 3vw;
  grid-column: 3 / span 9;
  grid-row: 1 / span 12;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  z-index: 40px;

//why is this image not moving with the grid?
//have been trying all day
#gallery-space-img {
  display: flex;
  width: 80%;
  height: 90vh;
  // margin-left: 3vw;
  // margin-right: 3vw;
  // left: 50%;
  // top: get
  grid-column: 3 / span 9;
  grid-row: 2 / span 12;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  z-index: 4px;

}

#eve {
  grid-column: 11;
  grid-row: 10;
  width: 100%;
  justify-self: center;
  align-self: end;
}

.homepage-tdevents {
  font-family: TimesNewRomanPSMT;
  font-size: 41px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2.4px;
  text-align: left;
  z-index: 20;
  text-decoration: none;
  color: black;
}

#modal {
  grid-column: 6 / 10;
  grid-row: 2 / span 11;
  justify-self: start;
  align-self: center;
  height: 100%;
  width: 100%;
  align-self: center;
  background-image: url("/assets/Elements/Home/Modal-infobox.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .words {
    height: 100%;
    width: 60%;
    font-family: TimesNewRomanPSMT;
    font-size: get-vh(20px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #222222;
    letter-spacing: normal;
    align-self: center;
    margin-top: 11vh;
    cursor: pointer;
  }
}

#testdriveLogoBR {
  grid-column: 8 / span 12;
  grid-row: 11;
  justify-self: center;
  height: 100%;
  img {
    width: 22.98701vw;
  }
}

#infoLink {
  grid-column: 10 / 12;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#home-blue-line {
  height: get-vh(203.5px);
  width: get-vw(299px);
  grid-column: 10 / 12;
  grid-row: 1 / span 5;
  justify-self: center;
  align-self: center;
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
}

.cat {
  height: auto;
  width: auto;
  margin-top: get-vh(24px);
  // width: get-vw(210px);
  // height: get-vh(56px);
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-size: get-vw(50px);
  font-family: TimesNewRomanPSMT;
  letter-spacing: get-vw(-2.1px);
  text-align: left;
  -webkit-text-stroke: 0 #979797;
}

.active {
  color: rgb(255, 194, 120);
}

.events {
  margin-top: -1vh;
  width: get-vw(150px);
  height: get-vh(56px);
  text-decoration: none;
  font-family: TimesNewRomanPSMT;
  font-size: get-vw(50px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: get-vw(-2.1px);
  text-align: left;
  color: #000000;
}



#infoLink {
    grid-column: 10/ 12;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self:center;

  a {
    text-decoration: none;
    h1 {
      font-size: 3.24675vw;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -1.4px;
      text-align: left;
      color: #222222;
    }
  }

}

.act {
  color: rgb(255, 194, 120);
}

.active-color-home {
  color: #000000;
}

.shadowfilter {
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.shadowfilter:hover {
  -webkit-filter: drop-shadow(10px 10px 18px rgb(255, 194, 120));
}
/* STYLING FOR THE RED, GREEN, AND BLUE LINES */
#home-red-line {
  width: get-vw(401.8px);
  height: get-vh(217.3px);
  object-fit: contain;
  position: absolute;
  top: get-vh(313px);
  left: get-vw(172px);
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
}

#home-green-line {
  width: get-vw(250px);
  height: get-vh(160px);
  grid-row: 9 / span 12;
  grid-column: 9 / 11;
  justify-self: center;
  align-self: center;
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
  z-index: 10;
}
/* STYLING FOR MODAL */
#modal {
  opacity: 0;
}
/* STYLING FOR THE HULK IMAGE THAT FADES OUT */
#halk {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
}

.fadeIn {
  opacity: 1;
}

@media only screen
and (min-device-width: 300px)
and (max-device-width: 700px)
and (orientation: portrait) {


@function get-mob-vw($object) {
  $vw: (320 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-mob-vh($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

#infoLink {
  display: none;
}

#testdriveLogoBR {
  display: none;
}

.container {
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 15% 70% 20%;
  grid-column-gap: 1fr;
  width: 100%;
  height: 100%;
}

.mob-container {
  grid-column: 1 / 4;
  grid-row: 1;
  height: get-mob-vh(45px);
  width: get-mob-vw(284px);
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;
}

.drivedrive-menu {
  display: none;
}

.burger {
  grid-column: 1 / span 4;
  grid-row: 1;
  justify-self: center;
  align-self: start;
  height: 100%;
  width: 100%;
}

.home-video {
  grid-column: 2 / span 4;
  grid-row: 2;
  justify-self: center;
  align-self: end;
  height: 400px;
  width: 200px;
  margin-top: 20vh;
  div {
    height: get-mob-vh(276px);
    width: get-mob-vw(106px);
    video {
      height: 100%;
      width: 100%;
      source {
        z-index: 1000;
      }
    }
  }
}

#home-green-line {
  grid-column: 2 / span 3;
  grid-row: 2;
  justify-self: end;
  align-self: end;
  height: get-mob-vh(101.8px);
  width: get-mob-vw(175.7px);

}

#home-blue-line {
  grid-area: blue-line;
  height: 100%;
  width: 100%;
}

#gallery-space-img {
  grid-column: 1 / span 3;
  grid-row: 2;
  margin-top: 10vh;
  height: 100%;
  width: 100%;
}



#mob-testdriveLogo {
  grid-column: 1 / 4;
  grid-row: 3;
  width: 100%;
  height: 100%;
}
}
}

//   $vw: (360 * 0.01) * 1px;
//   @return ($object / $vw) * 1vw;
// }
// @function get-vh-mob($object) {
//   $vh: (667 * 0.01) * 1px;
//   @return ($object / $vh) * 1vh;
// }


//   @media only screen

//   and (max-device-width: 700px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {

//   .burger {
//     display: block;
//     width: get-vw-mob(26px);
//     height: get-vh-mob(24px);
//     position: absolute;
//     top: get-vh-mob(84px);
//     left: get-vw-mob(170px);
//   }

//   #DriveDrive {
//     top: get-vh-mob(-10px);
//     left: get-vw-mob(25px);
//     width: get-vw-mob(284px);
//     height: get-vh-mob(45px);
//     position: absolute;
//   }

//   .drivedrive-menu {
//     ul {
//       #cat,
//       #eve {
//         display: none;
//       }
//       position: absolute;
//       display: flex;
//       flex-direction: column;
//     }
//   }

//   #infoLink {
//     display: none;
//   }

//   .cat {
//     margin-top: get-vh(24px);
//     width: get-vw(210px);
//     height: get-vh(56px);
//     text-decoration: none;
//     color: #000000;
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     font-size: get-vw(50px);
//     font-family: TimesNewRomanPSMT;
//     letter-spacing: get-vw(-2.1px);
//     text-align: left;
//     -webkit-text-stroke: 0 #979797;
//   }

//   .active {
//     color: rgb(255, 194, 120);
//   }

//   .events {
//     margin-top: get-vh(1px);
//     width: get-vw(150px);
//     height: get-vh(56px);
//     text-decoration: none;
//     font-family: TimesNewRomanPSMT;
//     font-size: get-vw(50px);
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: get-vw(-2.1px);
//     text-align: left;
//     color: #000000;
//   }

//   .act {
//     color: rgb(255, 194, 120);
//   }

//   .active-color-home {
//     color: #000000;
//   }
//   /* END STYLING FOR BIG MAC */
//   /* BEGIN STYLING FOR HOMEPAGE

//     /* STYLING FOR THE GALLERY SPACE IMAGE */
//   #gallery-space-img {
//     width: get-vw-mob(349px);
//     height: get-vh-mob(323px);
//     position: absolute;
//     top: get-vh-mob(138px);
//     left: get-vw-mob(5px);
//     cursor: pointer;
//   }

//   .shadowfilter {
//     -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
//     -webkit-transition: all 0.5s linear;
//     -o-transition: all 0.5s linear;
//     transition: all 0.5s linear;
//   }

//   .shadowfilter:hover {
//     -webkit-filter: drop-shadow(10px 10px 18px rgb(255, 194, 120));
//   }
//   /* STYLING FOR THE RED, GREEN, AND BLUE LINES */
//   #home-red-line {
//     width: get-vw-mob(155.3px);
//     height: get-vh-mob(84px);
//     object-fit: contain;
//     position: absolute;
//     top: get-vh-mob(384px);
//     left: get-vw-mob(13px);
//     cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
//   }

//   #home-green-line {
//     width: get-vw-mob(175px);
//     height: get-vh-mob(101.8px);
//     object-fit: contain;
//     position: absolute;
//     top: get-vh-mob(488px);
//     left: get-vw-mob(184px);
//     cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
//     z-index: 10;
//   }
//   /* STYLING FOR TESTDRIVE LOGO */
//   .tdLogo {
//     position: absolute;
//     width: get-vw-mob(290px);
//     height: get-vh-mob(30px);
//     left: get-vw-mob(42px);
//     top: get-vh-mob(596px);
//   }

//   #home-blue-line {
//     width: get-vw-mob(103.3px);
//     height: get-vh-mob(104px);
//     object-fit: contain;
//     position: absolute;
//     top: get-vh-mob(104px);
//     left: get-vw-mob(256px);
//     z-index: 3000;
//     cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
//   }
//   /* STYLING FOR MODAL */
//   #modal {
//     visibility: hidden;
//   }
//   /* STYLING FOR THE HULK IMAGE THAT FADES OUT */
//   #halk {
//     position: absolute;
//     z-index: 99;
//     height: 100vh;
//     width: 100vw;
//   }

//   #home-container {
//     opacity: 0;
//     transition: 5s;
//     -webkit-transition: opacity 1s ease-in;
//     -moz-transition: opacity 1s ease-in;
//     -ms-transition: opacity 1s ease-in;
//     -o-transition: opacity 1s ease-in;
//     transition: opacity 1s ease-in;
//   }

//   .home-video {
//     position: absolute;
//     // background-image: url(/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-video-grey.svg);
//     background-repeat: no-repeat;
//     background-size: contain;
//     width: get-vw-mob(220px);
//     // height: get-vh-mob(136px);
//     // object-fit: contain;
//     top: get-vh-mob(423px);
//     left: get-vw-mob(120px);
//   }

//   #home-v {
//     position: absolute;
//     width: get-vw-mob(145.6px);
//     height: get-vh-mob(81.6px);
//     top: get-vh-mob(450.2px);
//     left: get-vw-mob(153px);
//   }

//   .fadeIn {
//     opacity: 1;
//   }

//   #modal {
//     position: absolute;
//     top: get-vh-mob(-3px);
//     width: 100%;
//     height: 100%;
//     left: get-vw-mob(0px);
//     right: get-vw-mob(10px);
//     background-image: url('/assets/Elements/Home/Home-infobox-blue-02.svg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     z-index: 3000;

//     .words {

//       position: absolute;
//       top: get-vh-mob(60px);
//       padding-left: get-vw-mob(0px);
//       width: get-vw-mob(270px);
//       background-size: contain;
//       height: get-vh-mob(437px);
//       left: get-vw-mob(45px);
//       font-family: TimesNewRomanPSMT;
//       font-size: get-vh-mob(18px);
//       font-weight: normal;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: 1.06;
//       letter-spacing: get-vw-mob(-0.8px);
//       text-align: left;
//       color: #222222;
//     }
//   }

//   .clicked-gallery-img {
//     width: 125.06667vw;
//     height: 85.42579vh;
//     position: fixed;
//     top: 32.68966vh;
//     left: 3.46667vw;
//     cursor: pointer;
//   }
// }




////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD  ////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD
//   @media only screen
//     and (min-device-width: 768px)
//     and (max-device-width: 1024px)
//     and (orientation: portrait)
//     and (-webkit-min-device-pixel-ratio: 1) {



//   #gallery-space-img {
//     // width: get-vw(750px);
//     height: get-vh(570px);
//     position: absolute;
//     top: get-vw(400px);
//     left: get-vw(400px);
//     cursor: pointer;
//     z-index: 40px;
//   }


//   #home-red-line {
//     width: get-vw(401.8px);
//     height: get-vh(217.3px);
//     object-fit: contain;
//     position: absolute;
//     top: get-vh(310px);
//     left: get-vw(70px);
//     cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
//   }

//   #home-green-line {
//     width: get-vw(350px);
//     height: get-vh(160px);
//     object-fit: contain;
//     position: absolute;
//     top: get-vh(700px);
//     left: get-vw(1020px);
//     cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
//     z-index: 10;
//   }

//   #home-blue-line {
//     width: get-vw(299px);
//     height: get-vh(203.5px);
//     object-fit: contain;
//     position: absolute;
//     top: get-vh(109.9px);
//     left: get-vw(1250px);
//     cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
//   }


//     .homepage-tdevents {
//     z-index: 20;
//     bottom: 10.60156vh;
//     right: 8.46753vw;
//     position: absolute;
//     width: 9.74026vw;
//     height: 5.46875vh;
//     text-decoration: none;
//     font-family: TimesNewRomanPSMT;
//     font-size: 3.24675vw;
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: -0.13636vw;
//     text-align: left;
//     color: #000000;
// }


// .home-video {
//   position: absolute;
//   background-image: url("/assets/Elements/Home/Home-video-cloud-grey.svg");
//   background-repeat: no-repeat;
//   background-size: 100%;
//   background-size: get-vw(447px) get-vh(276px);
//   width: get-vw(538px);
//   top: get-vh(604px);
//   height: get-vh(333px);
//   bottom: get-vh(87px);
//   left: get-vw(85px);
//   object-fit: contain;
// }

// #home-v {
//   position: absolute;
//   width: 17.46753vw;
//   height: 16.21094vh;
//   left: 10.07792vw;
//   top: 64.28906vh;
// }


// #modal {
//   position: absolute;
//   top: get-vh(128px);
//   left: get-vw(370px);
//   width: get-vw(1024px);
//   height: get-vh(800.5px);
//   object-fit: contain;
//   background-image: url("/assets/Elements/Home/Modal-infobox.svg");
//   background-size: contain;
//   background-repeat: no-repeat;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-content: center;
//   z-index: 1000;
//   cursor: pointer;

//   .words {
//     width: get-vw(680px);
//     // height: get-vh(553px);
//     left: get-vw(750px);
//     right: get-vw(245px);
//     top: get-vh(160px);
//     word-wrap: normal;
//     font-family: TimesNewRomanPSMT;
//     font-size: get-vh(20px);
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: get-vh(22px);
//     letter-spacing: get-vw(-0.9px);
//     text-align: left;
//     color: #222222;
//     z-index: 1000;
//     margin: get-vh(9px) get-vw(40px) get-vh(90px) get-vw(80px);
//     letter-spacing: normal;
//     justify-content: center;
//     align-content: center;
//     cursor: pointer;
//   }
// }

// }

// ////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD  ////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD ////// SPECIFIC TO IPAD
//  /////// IPAD LANDSCAPE /////// IPAD LANDSCAPE /////// IPAD LANDSCAPE /////// IPAD LANDSCAPE /////// IPAD LANDSCAPE
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (orientation: landscape)
//   and (-webkit-min-device-pixel-ratio: 1) {

//     .homepage-tdevents {
//       // width: get-vw(66px);
//       height: get-vh(46px);
//       position: absolute;
//       width: get-vw(150px);
//       bottom: get-vh(170px);
//       right: get-vw(115px);
//       font-family: TimesNewRomanPSMT;
//       font-size: 3.24675vw;
//       font-weight: normal;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: normal;
//       letter-spacing: -2.4px;
//       text-align: left;
//       z-index: 20;
//       text-decoration: none;
//       color: black;
//     }

//     #modal {
//       position: absolute;
//       top: get-vh(128px);
//       left: get-vw(566px);
//       width: get-vw(800.2px);
//       height: get-vh(800.5px);
//       object-fit: contain;
//       background-image: url("/assets/Elements/Home/Modal-infobox.svg");
//       background-size: contain;
//       background-repeat: no-repeat;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-content: center;
//       z-index: 1000;
//       cursor: pointer;

//       .words {
//         width: get-vw(400px);
//         height: get-vh(553px);
//         left: get-vw(850px);
//         // right: get-vw(245px);
//         top: get-vh(180px);
//         word-wrap: normal;
//         font-family: TimesNewRomanPSMT;
//         font-size: get-vh(20px);
//         font-weight: normal;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: get-vh(22px);
//         letter-spacing: get-vw(-0.9px);
//         text-align: left;
//         color: #222222;
//         z-index: 1000;
//         margin: get-vh(59px) get-vw(104px) get-vh(80px) get-vw(120px);
//         letter-spacing: normal;
//         justify-content: center;
//         align-content: center;
//         cursor: pointer;
//       }
//     }

// }

//////// IPAD PRO //////// IPAD PRO //////// IPAD PRO //////// IPAD PRO //////// IPAD PRO MODAL SPECIFIC

// @media only screen
//   and (max-device-width: 1366px)
//   and (min-device-width: 1024px)
//   and (orientation: landscape)
//   and (-webkit-min-device-pixel-ratio: 1) {
//
//     #modal {
//       position: absolute;
//       top: get-vh(128px);
//       left: get-vw(566px);
//       width: get-vw(900.2px);
//       height: get-vh(800.5px);
//       object-fit: contain;
//       background-image: url("/assets/Elements/Home/Modal-infobox.svg");
//       background-size: contain;
//       background-repeat: no-repeat;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-content: center;
//       z-index: 1000;
//       cursor: pointer;
//
//       .words {
//         width: get-vw(400px);
//         height: get-vh(553px);
//         left: get-vw(850px);
//         // right: get-vw(245px);
//         top: get-vh(180px);
//         word-wrap: normal;
//         font-family: TimesNewRomanPSMT;
//         font-size: get-vh(20px);
//         font-weight: normal;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: get-vh(22px);
//         letter-spacing: get-vw(-0.9px);
//         text-align: left;
//         // color: red;
//         color: #222222;
//         z-index: 1000;
//         margin: get-vh(59px) get-vw(104px) get-vh(80px) get-vw(120px);
//         letter-spacing: normal;
//         justify-content: center;
//         align-content: center;
//         cursor: pointer;
//       }
// }
//
// }
