@function get-vw($object) {
    $vw: (1540 * 0.01) * 1px;
    @return ($object / $vw) * 1vw;
}
// width: get-vw(100px);
@function get-vh($object) {
    $vh: (1024 * 0.01) * 1px;
    @return ($object / $vh) * 1vh;
}
// height: get-vh(20px);


/* STYLING FOR BIG-MAC (DRIVEDRIVE) LOGO. */
#DriveDrive {
    min-width: get-vw(354px);
    height: get-vh(55px);
    margin: 0 0 0 -40px;
}

.drivedrive-menu {
    margin: 54px 0 0 80px;
}

.drivedrive-menu a {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.4px;
    font-size: 41px;
    font-family: TimesNewRomanPSMT;
    letter-spacing: -2.4px;
    text-align: left;
    -webkit-text-stroke: 0 #979797;
    width: get-vw(210px);
    height: get-vh(56px);
}
/* END STYLING FOR BIG MAC */
/* BEGIN STYLING FOR HOMEPAGE

ALL WIDTH & HEIGHT PROPERTIES ARE FROM ZEPLIN.

all position:relative and bottom/left/top/right properties are me not knowing how to
position things well and forcing things to be positioned into place

Feel free to change all if you know of a better way to position the elements (gray cloud, blue/green/red lines, etc.) better!

*/
/* STYLING FOR THE GALLERY SPACE IMAGE */
#gallery-space-img {
    width: 72.890625vw;
    // height: 84.27734375vh;
    height: 115vh;
    position: absolute;
    top: 102px;
    left: 226px;
}

#home-img-cloud {
    width: get-vw(538px);
    height: get-vh(333px);
    object-fit: contain;
    filter: drop-shadow(inset 0 1px 357px 0 rgba(9, 9, 9, 0.49));
    position: absolute;
    left: get-vw(45px);
    bottom: get-vh(74px);
    top: get-vh(650px);
}

.video {
    position: absolute;
    left: get-vw(142px);
    top: get-vh(690px);
}
/* STYLING FOR THE RED, GREEN, AND BLUE LINES */
#home-red-line {
    width: get-vw(401.8px);
    height: get-vh(217.3px);
    object-fit: contain;
    position: absolute;
    top: 366px;
    left: 16px;
}

#home-green-line {
    width: get-vw(250px);
    height: get-vh(160px);
    object-fit: contain;
    position: absolute;
    top: 630px;
    left: 868px;
}

#home-blue-line {
    width: get-vw(229px);
    height: get-vh(230.5px);
    object-fit: contain;
    position: absolute;
    top: 133px;
    left: 974px;
}
/* STYLING FOR MODAL */
#modal {
    visibility: hidden;
}
/* STYLING FOR THE HULK IMAGE THAT FADES OUT */
#halk {
    position: fixed;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home-container {
    opacity: 0;
    transition: 5s;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.fadeIn {
    opacity: 1;
}


#modal{
    position:absolute;
    top:get-vh(128px);
    left:get-vw(666px);
    width: get-vw(390px);
	height: get-vh(613px);
    background-image: url('/assets/Elements/Home/Home-infobox-blue.svg');
    /* background-color: #ffffff; */
    background-size: contain;
    background-repeat: no-repeat;
}

p {
width: get-vw(466.2px);
height: get-vh(607.5px);
font-family: TimesNewRomanPSMT;
font-size: get-vh(18px);
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.06;
letter-spacing: -0.8px;
text-align: left;
color: #222222;
z-index: 1000;
}
