@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

.info {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 8.33333333%);
  grid-column-gap: get-vw(30px);
  overflow: hidden;
  margin: 0;
  background-image: url("/assets/Elements/Info/Info-bgA.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#infoContactBg {
  width: get-vw(446.4px);
  height: auto;
  position: fixed;
  z-index: -20;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

#infoContactInfo {
  width: get-vw(496.4px);
  height: 90%;
  grid-column: 2 / span 5;
  grid-row: 5 / span 9;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222222;
  background-image: url("/assets/Elements/Info/Info-contact-outline.png");
  background-size: 50.3vh;
  background-repeat: no-repeat;

  .info-contact {
    z-index: 200;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: -3vh;
    p {
      font-size: get-vh(20px);
      font-family: TimesNewRomanPSMT;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.05;
      letter-spacing: get-vw(-0.9px);
      text-align: left;
      margin-left: 4vw;
    }

    form {
      width: get-vw(329px);
      height: get-vh(40px);
      margin-top: get-vh(4px);
      margin-left: 3vw;
      display: flex;
      justify-content: start;
      align-items: center;
      border: 2px solid black;
      input {
        height: 100%;
        font-size: get-vw(20px);
        background: none;
        border: none;
        outline: none;
        font-family: TimesNewRomanPSMT;
        text-shadow: 1px 1px black;
      }
      
      button {
        height: 110%;
        width: 25vw;
        border: inherit;
        background: white;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 1px 1px black;
      }
    }
  }
}

.sign-up-to-our-maili {
  margin-top: get-vh(-15px);
  font-family: TimesNewRomanPSMT;
  font-size: get-vw(20px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: get-vw(-0.9px);
  text-align: left;
  color: #222222;
  text-shadow: 1px 1px black;
}

#credits {
  grid-column: 2 / 5;
  grid-row: 12;
  justify-self: start;
  align-self: center;
  white-space: nowrap;
  background-color: black;
  font-family: TimesNewRomanPSMT;
  font-size: get-vw(12px);
  color: white;
  text-align: left;
}

#infoMap {
  grid-column: 6 / 10;
  grid-row: 3 / 11;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  -moz-box-shadow: 0 0 50px rgb(131, 21, 168);
  -webkit-box-shadow: 0 0 50px rgb(131, 21, 168);
  box-shadow: 0 0 50px rgb(131, 21, 168);
}

#testdriveLogoInfo {
  grid-column: 10 / 12;
  grid-row: 11 / span 12;
  justify-self: end;
  align-self: center;

  img {
    height: get-vh(30px);
    width: get-vw(290px);
  }
}

a:hover {
  color: orange;
}
//////////////////////////////////////////////////////////////////////////////////////////////
/* MOBILE DESIGN  */
/* FUNCTIONS TO CONVERT TO vh AND vw FOR MOBILE */
@function get-vw-mob($object) {
  $vw: (360 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh-mob($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}
/* ~~~~~~~~~~~~~~~~~~~~ STYLING FOR MENU - MOBILE ONLY ~~~~~~~~~~~~~~~~~~~~~ */
// @media only screen and (orientation: portrait) {
@media only screen and (min-device-width: 300px) and (max-device-width: 700px) and (orientation: portrait) {
  .info {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(10, 10%);
    background-image: url("/assets/mobile/Info-mobile.png");
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: get-vw-mob(375px);
    height: 190.25487vh;
  }

  #mobile-menu-info {
    grid-column: 2 / 4;
    grid-row: 1;
    justify-self: center;
    align-self: end;
    margin-right: 5vw;
    z-index: 30000;
  }

  #infoMap {
    grid-column: 1/ span 4;
    grid-row: 2 / span 4;
    width: get-vw-mob(348px);
    height: get-vh-mob(415px);
    margin-left: 1.5vw;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    -moz-box-shadow: 0 0 50px rgb(131, 21, 168);
    -webkit-box-shadow: 0 0 50px rgb(131, 21, 168);
    box-shadow: 0 0 50px rgb(131, 21, 168);
  }

  #infoContactBg {
    grid-column: 1 / span 4;
    grid-row: 4 / span 9;
    object-fit: contain;
    background-color: #ffffff;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #979797;
    background-image: url("/assets/Elements/Info/Info-contact-outline.png");
    background-size: 100vh;
    background-repeat: no-repeat;
  }

  #infoContactInfo {
    grid-column: 1 / span 4;
    grid-row: 5 / span 9;
    margin-top: 8vh;
    height: get-vh-mob(515.3px);
    width: get-vw-mob(375px);
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #222222;
    align-self: start;
    padding-left: 5vw;
    .info-contact {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin-top: 3vh;

      p {
        font-size: get-vh(20px);
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        letter-spacing: get-vw(-0.9px);
        text-align: left;
        margin-left: 4vw;
      }

      form {
        width: get-vw-mob(319px);
        height: get-vh-mob(30px);
        margin-top: get-vh(4px);
        margin-left: 3vw;
        display: flex;
        justify-content: start;
        align-items: center;
        input {
          width: get-vw-mob(192px);
          height: 100%;
          border: 2px solid black;
        }
      }
    }
  }

  #credits {
    grid-row: 10;
    grid-column: 1 / span 4;
    justify-self: start;
    align-self: end;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 9.5px;
    z-index: 3000;
  }

    #testdriveLogoInfo {
      grid-column: 1 / span 4;
      grid-row: 9 / span 10;
      align-self: end;
      justify-self: end;
      height: 100%;
      width: 100%;
      background-image: url(/assets/mobile/info-testdrive-box-02.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      img {
        height: 100%;
        width: 90%;
        margin-top: 10vh;
      }
    }

    button {
      height: 36px;
      width: 25vw;
      border: 2px solid black;
      background: white;
      font-size: 18px;
      font-weight: bold;
      text-shadow: 1px 1px black;
    }

  }
  //
  //   #mobile-background-img {
  //     background: url(../assets/mobile/Info-mobile.png);
  //     background-repeat: no-repeat;
  //     background-size: contain;
  //     width: 104.16667vw;
  //     height: 190.25487vh;
  //     top: 100.74963vh;
  //     left: 0vw;
  //     background-repeat: repeat-y;
  // }
// ////////// IPAD ////////// IPAD ////////// IPAD ////////// IPAD ////////// IPAD ////////// IPAD ////////// IPAD
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (orientation: portrait)
//   and (-webkit-min-device-pixel-ratio: 1) {
//     #infoContactBg {
//         width: get-vw(750.4px);
//         height: get-vh(500.3px);
//         position: absolute;
//         left: get-vw(100px);
//         top: get-vh(335px);
//         top: get-vh(328px);
//         bottom: get-vh(180.7px);
//         filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
//     }
//     #infoContactInfo {
//       width: get-vw(446.4px);
//       height: get-vh(415.3px);
//       left: get-vw(180px);
//       bottom: get-vh(250px);
//       position: absolute;
//       font-size: get-vh(20px);
//       font-family: TimesNewRomanPSMT;
//       font-weight: normal;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: 1.05;
//       letter-spacing: get-vw(-0.9px);
//       text-align: left;
//       color: #222222;
//       }
//       form {
//         position: absolute;
//         left: get-vw(180px);
//         bottom: get-vh(248px);
//         border: 1px solid black;
//         width: get-vw(600px);
//         height: get-vh(40px);
//         margin-top: get-vh(4px);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//       .sign-up-to-our-maili {
//           // margin-bottom:get-vh(398px);
//           margin-top: get-vh(-15px);
//         font-family: TimesNewRomanPSMT;
//         font-size: get-vw(40px);
//         font-weight: normal;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: 1.05;
//         letter-spacing: get-vw(-0.9px);
//         text-align: left;
//         color: #222222;
//           text-shadow: 1px 1px black;
//       }
//       input {
//         font-size: get-vw(40px);
//         background: none;
//         border: none;
//         outline: none;
//         font-family: TimesNewRomanPSMT;
//         text-shadow: 1px 1px black;
//         &[type="email"] {
//           width: get-vw(330px);
//           height: get-vh(45px);
//           outline: none;
//         }
//         &[type="submit"] {
//           border-left: 2px solid black;
//           width: get-vw(170px);
//           height: get-vh(45px);
//         }
//       }
//   }
// ////////// IPAD PRO ////////// IPAD PRO ////////// IPAD PRO ////////// IPAD PRO ////////// IPAD PRO
//   @media only screen
//     and (min-device-width: 1024px)
//     and (max-device-width: 1336px)
//     and (orientation: portrait)
//     and (-webkit-min-device-pixel-ratio: 1) {
//       #infoContactBg {
//           width: get-vw(750.4px);
//           height: get-vh(500.3px);
//           position: absolute;
//           left: get-vw(100px);
//           top: get-vh(335px);
//           top: get-vh(328px);
//           bottom: get-vh(180.7px);
//           filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
//       }
//         form {
//           position: absolute;
//           border: 1px solid black;
//           width: get-vw(600px);
//           height: get-vh(40px);
//           display: flex;
//           justify-content: center;
//           align-items: center;
//         }
//         .sign-up-to-our-maili {
//             // margin-bottom:get-vh(398px);
//             margin-top: get-vh(-25px);
//           font-family: TimesNewRomanPSMT;
//           font-size: get-vw(40px);
//           font-weight: normal;
//           font-style: normal;
//           font-stretch: normal;
//           line-height: 1.05;
//           letter-spacing: get-vw(-0.9px);
//           text-align: left;
//           color: #222222;
//           text-shadow: 1px 1px black;
//         }
//         input {
//           font-size: get-vw(48px);
//           background: none;
//           border: none;
//           outline: none;
//           font-family: TimesNewRomanPSMT;
//           text-shadow: 1px 1px black;
//           &[type="email"] {
//             width: get-vw(330px);
//             height: get-vh(45px);
//             outline: none;
//           }
//           &[type="submit"] {
//             border-left: 2px solid black;
//             width: get-vw(170px);
//             height: get-vh(45px);
//           }
//         }
// }
// ////////// IPAD LANDSCAPE ////////// IPAD LANDSCAPE ////////// IPAD LANDSCAPE ////////// IPAD LANDSCAPE
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (orientation: landscape)
//   and (-webkit-min-device-pixel-ratio: 1) {
//     #infoContactBg {
//         width: get-vw(600px);
//         height: get-vh(500.3px);
//         position: absolute;
//         left: get-vw(100px);
//         top: get-vh(335px);
//         top: get-vh(328px);
//         bottom: get-vh(180.7px);
//         filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
//     }
//     #infoContactInfo {
//       width: get-vw(446.4px);
//       height: get-vh(415.3px);
//       left: get-vw(180px);
//       bottom: get-vh(250px);
//       position: absolute;
//       font-size: get-vh(20px);
//       font-family: TimesNewRomanPSMT;
//       font-weight: normal;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: 1.05;
//       letter-spacing: get-vw(-0.9px);
//       text-align: left;
//       color: #222222;
//       }
//       form {
//         position: absolute;
//         left: get-vw(180px);
//         bottom: get-vh(240px);
//         border: 1px solid black;
//         width: get-vw(400px);
//         height: get-vh(40px);
//         margin-top: get-vh(4px);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//       .sign-up-to-our-maili {
//           // margin-bottom:get-vh(398px);
//           margin-top: get-vh(-15px);
//         font-family: TimesNewRomanPSMT;
//         font-size: get-vw(30px);
//         font-weight: normal;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: 1.05;
//         letter-spacing: get-vw(-0.9px);
//         text-align: left;
//         color: #222222;
//         text-shadow: 1px 1px black;
//       }
//       input {
//         font-size: get-vw(28px);
//         background: none;
//         border: none;
//         outline: none;
//         font-family: TimesNewRomanPSMT;
//         text-shadow: 1px 1px black;
//         &[type="email"] {
//           width: get-vw(210px);
//           height: get-vh(45px);
//           outline: none;
//         }
//         &[type="submit"] {
//           border-left: 2px solid black;
//           width: get-vw(100px);
//           height: get-vh(45px);
//         }
//       }
// }
// // ///// IPAD PRO LANDSCAPE ///// IPAD PRO LANDSCAPE ///// IPAD PRO LANDSCAPE ///// IPAD PRO LANDSCAPE ///// IPAD PRO LANDSCAPE
// // @media only screen
// //   and (max-device-width: 1366px)
// //   and (min-device-width: 1024px)
// //   and (orientation: landscape)
// //   and (-webkit-min-device-pixel-ratio: 1) {
// //
// //     #infoContactBg {
// //         width: get-vw(500px);
// //         height: get-vh(500.3px);
// //         position: absolute;
// //         left: get-vw(100px);
// //         top: get-vh(335px);
// //         top: get-vh(328px);
// //         bottom: get-vh(180.7px);
// //         filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
// //     }
// //
// //     #infoContactInfo {
// //       width: get-vw(446.4px);
// //       height: get-vh(415.3px);
// //       left: get-vw(160px);
// //       bottom: get-vh(250px);
// //       position: absolute;
// //       font-size: get-vh(20px);
// //       font-family: TimesNewRomanPSMT;
// //       font-weight: normal;
// //       font-style: normal;
// //       font-stretch: normal;
// //       line-height: 1.05;
// //       letter-spacing: get-vw(-0.9px);
// //       text-align: left;
// //       color: #222222;
// //
// //       }
// //
// //       form {
// //         position: absolute;
// //         left: get-vw(160px);
// //         bottom: get-vh(240px);
// //         border: 1px solid black;
// //         width: get-vw(400px);
// //         height: get-vh(40px);
// //         margin-top: get-vh(4px);
// //         display: flex;
// //         justify-content: center;
// //         align-items: center;
// //
// //       }
// //
// //       .sign-up-to-our-maili {
// //           // margin-bottom:get-vh(398px);
// //         margin-top: get-vh(-15px);
// //         font-family: TimesNewRomanPSMT;
// //         font-size: get-vw(30px);
// //         font-weight: normal;
// //         font-style: normal;
// //         font-stretch: normal;
// //         line-height: 1.05;
// //         letter-spacing: get-vw(-0.9px);
// //         text-align: left;
// //         color: #222222;
// //         text-shadow: 1px 1px black;
// //       }
// //
// //       input {
// //         font-size: get-vw(28px);
// //         background: none;
// //         border: none;
// //         outline: none;
// //         font-family: TimesNewRomanPSMT;
// //         text-shadow: 1px 1px black;
// //
// //         &[type="email"] {
// //           width: get-vw(210px);
// //           height: get-vh(45px);
// //           outline: none;
// //         }
// //
// //         &[type="submit"] {
// //           border-left: 2px solid black;
// //           width: get-vw(100px);
// //           height: get-vh(45px);
// //         }
// //       }
// //   }
