@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
// width: get-vw(100px);
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}
// height: get-vh(20px);
// ------------------------------------------


#infoContactBg {
  width: get-vw(446.4px);
  height: get-vh(515.3px);
  position: absolute;
  left: get-vw(141px);
  top: get-vh(335px);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}


  #infoContactInfo {
    position: absolute;
    left: get-vw(195px);
    bottom: get-vh(335px);
    width: get-vw(245px);
    height: get-vh(322px);
    font-size: get-vw(16px);
    font-family: TimesNewRomanPSMT;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    text-align: left;
    color: #222222;
    }
    form {
      position: absolute;
      left: get-vw(195px);
      bottom: get-vh(248px);
      border: 2px solid black;
      width: get-vw(329px);
      height: get-vh(40px);
      margin-top: get-vh(4px);
      display: flex;
      justify-content: center;
      align-items: center;
    }


  input {
    font-size: get-vw(18px);
    background: none;
    border: none;
    outline: none;

    &[type="email"] {
      width: get-vw(221px);
      height: get-vh(40px);
      outline: none;
    }

    &[type="submit"] {
      border-left: 2px solid black;
      width: get-vw(108px);
      height: get-vh(40px);
    }
  }




#infoMap {
  position: absolute;
  top: get-vh(171px);
  right: get-vw(400px);
  align-self: center;
  width: get-vw(483px);
  height: get-vw(577px);
  border: 1px solid black;
  -moz-box-shadow: 0 0 50px rgb(131, 21, 168);
  -webkit-box-shadow: 0 0 50px rgb(131, 21, 168);
  box-shadow: 0 0 50px rgb(131, 21, 168);
}

.tdLogo {
  height: get-vh(35px);
  width: get-vw(338px);
  position: absolute;
  bottom: get-vh(86px);
  right: get-vw(34px);
}
