* {
	margin: 0;
	padding: 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* MOBILE DESIGN  */
/* FUNCTIONS TO CONVERT TO vh AND vw FOR MOBILE */
@function get-vw-mob($object) {
    $vw: (360 * 0.01) * 1px;
    @return ($object / $vw) * 1vw;
}

@function get-vh-mob($object) {
    $vh: (667 * 0.01) * 1px;
    @return ($object / $vh) * 1vh;
}

@media screen and (min-width:360px) and (max-width:600px) and (orientation: portrait){



} /* CLOSES MEDIA QUERIES */
