@function get-vw($object) {
    $vw: (1540 * 0.01) * 1px;
    @return ($object / $vw) * 1vw;
}

@function get-vh($object) {
    $vh: (768 * 0.01) * 1px;
    @return ($object / $vh) * 1vh;
}

// width: get-vw(100px)vw;

//---------------------- SITEWIDE STYLES-------------------------------------------

html {
  height: 100%;
}

body {
  // can only use get-vw on direct width assignments.
  height: inherit;
  display: grid;
  grid-template-columns: repeat(12, 6.363636363636363vw);
  grid-column-gap: 1.948051948051948vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.drivedrive-menu {
  grid-column: 1 / 3;
}

#side-menu {
  grid-column: 12 / 13;
}




//---------------------- INFO STYLES-------------------------------------------

//---------------------- TESTDRIVE STYLES-------------------------------------------


//---------------------- drivedrive events STYLES-------------------------------------------

//---------------------- HOME STYLES-------------------------------------------

.home {
  height: 50px;
}

#modal {
  visibility: hidden;
}
