@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}
// width: get-vw(100px)vw;
//---------------------- SITEWIDE STYLES-------------------------------------------
html {
  height: 100%;
}

body {
  // can only use get-vw on direct width assignments.
  height: inherit;
  // display: grid;
  // grid-template-columns: repeat(12, 6.363636363636363vw);
  // grid-column-gap: 1.948051948051948vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

// trying the rainbow scroll
// body::-webkit-scrollbar-track { background-color: transparent; }
// body::-webkit-scrollbar       { width: 8px; background: #e0ebe8; }
// body::-webkit-scrollbar-thumb { background: #e0ebe8; }

.hidden {
  display: none;
}

#infoLink {
  position: absolute;
  top: get-vh(57px);
  right: get-vw(62px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: #222222;
  }

  img {
    width: get-vw(30px);
    height: get-vh(39px);
  }
  width: get-vw(138px);
  height: get-vh(56px);
  font-family: TimesNewRomanPSMT;

  h1 {
    font-size: get-vw(50px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.4px;
    text-align: left;
    color: #222222;
  }
}

#backButton {
  position: absolute;
  bottom: get-vh(86px);
  right: get-vw(126px);
  width: 89px;
  height: 56px;
  cursor: pointer;

  h1 {
    font-size: get-vw(50px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.4px;
    text-align: left;
    color: #222222;
  }
}


//---------------------- INFO STYLES-------------------------------------------
//---------------------- TESTDRIVE STYLES-------------------------------------------
//---------------------- drivedrive events STYLES-------------------------------------------
//---------------------- HOME STYLES-------------------------------------------
.home {
  height: 50px;
}


////////////////////////////////////////////////////////////////////////////////
/* MOBILE DESIGN  */


/* FUNCTIONS TO CONVERT TO vh AND vw FOR MOBILE */
@function get-vw-mob($object) {
    $vw: (375 * 0.01) * 1px;
    @return ($object / $vw) * 1vw;
}

@function get-vh-mob($object) {
    $vh: (667 * 0.01) * 1px;
    @return ($object / $vh) * 1vh;
}

@media screen and (min-width:375px) and (max-width:600px) {


    /* STYLING FOR NAV MENU - MOBILE */
    .mob-container {
        position: fixed;
        min-width: 100%;
        top: get-vh-mob(84px);
        height: 100%;
        background-color: white;
        z-index: 4000;
    }

    .x {
        position: absolute;
        width: get-vw-mob(14px);
        height: get-vh-mob(14px);
        top: get-vh-mob(5px);
        left: get-vw-mob(180px);
    }

    #mob-cat {
        position: absolute;
        width: get-vw-mob(157px);
        height: get-vh-mob(46px);
        top: get-vh-mob(43px);
        left: get-vw-mob(109.5px);

        /* STYLING FOR FONTS */
        font-family: TimesNewRomanPSMT;
        font-size: 41px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -2.4px;
        text-align: center;
        color: #000000;
        -webkit-text-stroke: 0 #979797;

    }


    #mob-eve {
        position: absolute;
        width: get-vw-mob(113px);
        height: get-vh-mob(46px);
        top: get-vh-mob(88px);
        left: get-vw-mob(131.5px);

        /* STYLING FOR FONTS */
        font-family: TimesNewRomanPSMT;
        font-size: 41px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -2.2px;
        text-align: center;
        color: #000000;

    }


    #mob-info {
        position: absolute;
        width: get-vw-mob(58px);
        height: get-vh-mob(46px);
        top: get-vh-mob(158px);
        left: get-vw-mob(159px);

        /* STYLING FOR FONTS */
        font-family: TimesNewRomanPSMT;
        font-size: 41px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -2.2px;
        text-align: center;
        color: #000000;

    }


    #mob-bike {
        position: absolute;
        width: get-vw-mob(39px);
        height: get-vh-mob(54px);
        top: get-vh-mob(194px);
        left: get-vw-mob(169px);
    }


    #mob-testdr-title {
        position: absolute;
        width: get-vw-mob(290px);
        height: get-vh-mob(30px);
        top: get-vh-mob(413px);
        left: get-vw-mob(42px);
    }


    #mob-test-eve {
        position: absolute;
        width: get-vw-mob(113px);
        height: get-vh-mob(46px);
        top: get-vh-mob(457px);
        left: get-vw-mob(130.5px);

        /* STYLING FOR FONTS */
        font-family: TimesNewRomanPSMT;
        font-size: 41px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -2.2px;
        text-align: center;
        color: #000000;
    }

    a {
        text-decoration: none;
    }


}

