@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
// width: get-vw(100px);
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}
@function get-vw-mob($object) {
  $vw: (360 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh-mob($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}



.tdEventActive {
  background-image: url("./../assets/Elements/Testdrive Events/TD-Events-Hover-Active-state-green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#tdEventsInfobox {
  background-image: url("./../assets/Elements/Testdrive Events/TD-Events-infobox-green-gradient.png");
  filter: drop-shadow(0 0 0.75rem rgba(1, 223, 54, 0.5));
}

//keep this here for now please
// .testdr-events {
// width: 166px;
// height: 46px;
// // top: get-vh(91px);
// left: get-vw(70px);
// font-family: TimesNewRomanPSMT;
// font-size: 41px;
// font-weight: normal;
// font-style: normal;
// font-stretch: normal;
// line-height: normal;
// letter-spacing: -2.4px;
// text-align: left;
// color: rgb(255, 194, 120);
// }

////////////////////////////////////////////////////////////////////////////////////////////////


  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .testdr-title {
    height: get-vh-mob(30px);
    width: get-vw-mob(290px);
    position: absolute;
    top: get-vh-mob(40px);
    left: get-vw-mob(47px);
    z-index: 10;
  }

}
