@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
// width: get-vw(100px);
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}
@function get-vw-mob($object) {
  $vw: (360 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh-mob($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

.tdContainer {
  .drivedrive-menu {
    display: none;
  }
}

#testdriveLogoTL {
  grid-column: 1 / 5;
  grid-row: 2 / span 2;
  margin-left: 4.5vw;
  img {
    width:90%;
    object-fit: contain;
  }
}

.tdEventActive {
  background-image: url("./../assets/Elements/Testdrive Events/TD-Events-Hover-Active-state-green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#tdEventsInfobox {
  background-image: url("./../assets/optimizedImages/TD-Events-infobox-green-gradient-min.png");
  filter: drop-shadow(0 0 0.75rem rgba(1, 223, 54, 0.5));
}



  @media only screen
  and (min-device-width: 300px)
  and (max-device-width: 700px)
  and (orientation: portrait) {

  .testdr-title {
    height: get-vh-mob(30px);
    width: get-vw-mob(290px);
    z-index: 10;
  }

  #tdEventsInfobox {
    background-image: linear-gradient(to bottom, #d1fbca, #ffffff);
    filter: drop-shadow(0 0 0.75rem rgba(1, 223, 54, 0.5));
  }

  #testdriveLogoTL {
    grid-column: 1 /  4;
    grid-row: 1;
    justify-self: center;
    align-self: start;
    margin-top: 3vh;
    width: 100%;

    img {
      margin: 0;
      object-fit: contain;
      width: 90vw;
      height: 10vh;
      margin-left: 2vw;

    }
  }

}


//WHY IS THIS NOT WORKING?
@media only screen and (min-device-width: 376px) and (max-device-width: 736px) and (orientation: landscape) {
#backButton {
    visibility: visible;
}

}




@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  #testdriveLogoTL img {
      width: 90%;
      height: 50%;
      object-fit: contain;
      margin-top: -5vh;
  }

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

    #testdriveLogoTL img {
        width: 90%;
        height: 50%;
        object-fit: contain;
        margin-top: -3.5vh;
    }




}
