<div class="drivedrive-menu">
  <a href="/"><img id = "DriveDrive" src="/assets/Logo-SVG/DriveDrive.svg" alt="red DriveDrive logo"></a>
  <ul>
    <a href="/catalogue">+Catalogue</a>
    <a href="/events">+Events</a>
  </ul>
</div>
