<div class="drivedrive-menu">

  <ul>
    <a id="makeitblack" href="/"><img class = "DriveDrive" id = "DriveDrive" src="/assets/Logo-SVG/DriveDrive.svg" alt="red DriveDrive logo"></a>
    <a id="cat" class="cat {{ black }}" href="/catalogue">+Catalogue</a>
    <a id="eve" class="events {{ black }}" href="/events">+Events</a>
  </ul>
</div>
