<div class="drivedrive-menu">
  <a href="/"><img src="/assets/Logo-SVG/DriveDrive.svg" alt="red DriveDrive logo"></a>
  <ul>
    <a href="/catalogue"><li>Catalogue</li></a>
    <a href="/events"><li>Events</li></a>
  </ul>
</div>
