<div class="drivedrive-menu">

  <ul>
    <a id=makeitblack href="/"><img id = "DriveDrive" src="/assets/Logo-SVG/DriveDrive.svg" alt="red DriveDrive logo"></a>
    <a id="cat" class="cat" href="/catalogue">+Catalogue</a>
    <a id="eve" class="events" href="/events">+Events</a>
  </ul>
</div>
