<div class="drivedrive-menu">

  <ul>
    <a id="makeitblack" href="/"><img class = "DriveDrive" id = "DriveDrive" src="/assets/Logo-SVG/DriveDrive.svg" alt="red DriveDrive logo"></a>
    <a id="cat" class="cat {{ black }}" href="/catalogue">+Catalogue</a>
    <a id="eve" class="events {{ black }}" href="/events">+Events</a>
  </ul>
</div>




<!-- HAMBURGER MENU - MOBILE ONLY -->
<img src="/assets/Elements/Home/burger.svg" class="burger">

<!-- MENU - MOBILE MENU -->
<div class = "mob-container">

    <p class = "x">x</p>

    <a href = "/catalogue" id = "mob-cat">+catalogue</a>
    <a href = "/events"  id = "mob-eve">+events</a>
    <a href = "/info"  id = "mob-info">info</a>

    <img id = "mob-bike" src="/assets/Elements/Nav/bike.svg">

    <a href = "/testdrive"><img id = "mob-testdr-title" src="/assets/Logo-SVG/Testdrive.svg"></a>
    <a href = "/testdrive" id = "mob-test-eve">+events</a>


</div>
