<div class="fall-back-page">
  <img class = "fallBack-dd" src="/assets/Logo-SVG/DriveDrive.svg" alt="red DriveDrive logo">
  <h1 style="font-family: TimesNewRomanPSMT; font-size: 18px;"> Sorry, your web browser is no longer supported, please check this website from a different device. </h1>
  <img src='https://www.photofunny.net/im/623325842476453883' class="fallBack-gif" alt='photofunny.net'>

</div>
