<div id="infoLink">
    <a href="/info"><h1>Info</h1></a>
    <img src="/assets/Elements/Nav/bike.svg">
</div>



<!-- .info {
	width: 94px;
	height: 66px;
	font-family: TimesNewRomanPSMT;
	font-size: 60px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1.7px;
	text-align: left;
	color: #222222;
} -->
