<!-- HAMBURGER MENU - MOBILE ONLY -->
<img src="/assets/Elements/Home/burger.svg" class="burger">



<!-- MENU - MOBILE MENU -->
<div class="mob-container">

  <a class="mob-dd-menu" href="/"> <img src="/assets/Logo-SVG/DriveDrive.svg" alt="red DriveDrive logo"> </a>


  <div class='mob-con'>

    <div class='links'>
      <img src="/assets/mobile/close-mobile-menu.svg" class="x">
      <a href="/catalogue" id="mob-cat">+catalogue</a>
      <a href="/events" id="mob-eve">+events</a>
      <a href="/info" id="mob-info">info</a>
      <h1 id="mob-bike"> ? </h1>
    </div>
    <div id='td-mob'>
      <a id="mob-testdriveLogo" href="/testdrive"><img src="/assets/Logo-SVG/Testdrive.svg"></a>
      <a href="/testdrive" id="mob-test-eve">+events</a>
    </div>
  </div>


</div>
