<div id="side-menu">

  <div class="drive menu">
    <img src="/assets/Elements/Nav/bike.svg">
    <a href="/info"><h1>Info</h1></a>
  </div>
  <div class="drive menu">
    <a id="back-button"><h1>Back</h1></a>
  </div>

</div>
