<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>Testdrive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">

</head>

<body>

  <a href="/">Home</a>
  <a href="/drivedrive">Drivedrive</a>
  <a href="/drivedrive/events">Events</a>
  <a href="/drivedrive/catalogue">Catalogue</a>
  <a href="/testdrive">Testdrive</a>
  <a href="/info">Info</a>
  <a href="/space">Space</a>

  {{{body}}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/public/script.js" charset="utf-8"></script>
  <!-- maps api key call gonna go here  -->
</body>

</html>
