<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DriveDrive_Testdrive</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/public/css/homepage.css">
  <link rel="stylesheet" type="text/css" href="/public/css/eventsCommon.css">
  <link rel="stylesheet" type="text/css" href="/public/css/ddEvents.css">
  <link rel="stylesheet" type="text/css" href="/public/css/tdEvents.css">
  <link rel="stylesheet" type="text/css" href="/public/css/catalogue.css">

</head>

<body>


  {{{body}}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/public/jquery.touchSwipe.min.js" charset="utf-8"></script>
  <script src="/public/script.js" charset="utf-8"></script>
  <script src="/public/styles.js" charset="utf-8"></script>
  <script src="/public/map.js" charset="utf-8"></script>
  <!--using my api key here, but we can set them with their own when the sites live  -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMgkObPdziId13Slnv8wplCi5u0uJFNY8"></script>
</body>

</html>
