<div id="testdrive">
  {{> bigmac}}
  {{> sideMenu}}
</div>

  {{#catalogue}}
  <div class="catalogue">
    <div>
    <img src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-artists-purple.svg">
    {{#essays}}
    <p>{{author}}</p>
    {{/essays}}
    <img src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-line-green.svg">
    </div>

    <img src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-pdfbox-red-gradient.svg">
    {{#files}}
      <p>{{title}}</p>
    {{/files}}

    <img src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-line-blue.svg">

    <div>
      <img src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-video-grey.svg">
      <iframe src="{{some.url}}" width="" height=""></iframe>
    </div>
  </div>
  {{/catalogue}}
