{{> big-mac}}
{{> side-menu}}
{{> testdriveLogo}}

<div class="eventList" id="ddEventsList">
  <ul>
    <li class="e1">event 1</li>
    <li class="e2">event 2</li>
    <li class="e3">event 3</li>
    <li class="e4">event 4</li>
  </ul>
</div>

<div class="eventsInfoBox" id="ddEventsInfobox"></div>
