<!-- <h1>home</h1>
{{#content}}
<div class="event content">
<img src="{{eventImage.fields.file.url}}">
<img src="/assets/modalBackground.png">
<h1>{{eventName}}</h1>
<p>{{eventDescription}}</p>
<div>
{{/content}} -->

<img id="home-blue-line" class="home" src="/assets/Elements/Home/Home-blue-line.svg">
<img id="home-green-line" class="home" src="/assets/Elements/Home/Home-green-line.svg">
<img id="home-infobox-blue" class="home" src="/assets/Elements/Home/Home-infobox-blue.svg">
<img id="home-red-line" class="home"src="/assets/Elements/Home/Home-red-line.svg">
<img id="home-red-line" class="home" src="/assets/Elements/Home/Home-render-bottom.png">


<div>
    <!-- need to put text on top of img -->
    <img id="home-render-top" class="home" src="/assets/Elements/Home/Home-render-top.png">
</div>
