
 <img id="halk" class="halk" src="/assets/Elements/Intro/smaller-Intro-bg_lo.png">


{{> big-mac}}
{{> infoLink}}



<div id = "home-container">
    <img id="gallery-space-img" class="shadowfilter" src="/assets/Elements/Home/galleryspace.png">

        <img id="home-green-line" class="home" src="/assets/Elements/Home/Home-green-line.svg">
        <img id="home-red-line" class="home"src="/assets/Elements/Home/Home-red-line.svg">
        <img id="home-blue-line" class="home" src="/assets/Elements/Home/Home-blue-line.svg">


<div id="modal">
    <p class="words">DriveDrive is a project initiated by visual artists Raissa Angeli and Nayia Savva. It’s located in the old town of Nicosia, in a building designed by the modernist architect Neoptolemos Michaelides in 1969.<br></br>
DriveDrive displays a selection of artworks, editions and publications in a fluctuating, ever evolving manner. The process is archived in an online index publication.<br></br>
The space runs parallel to TESTDRIVE, a project hosting short-term site-specific events and parties.<br></br>
DriveDrive and TESTDRIVE are the result of on going conversations and debates between friends, artists, artist-friends, and artists’ friends concerned with the multiple localities involved in operating on the island.<br></br>
The project will be open to the public for the year 2018-2019.</p>
</div>

  <div class="video-container home-video"></div>
  <div>
    {{#video}}
    <video id='home-v' onmouseover="pause()" onmouseleave="play()" autoplay loop>
      <source src='https:{{url}}' type='{{contentType}}'>
    </video>
    {{/video}}
  </div>
</div>

<a  href="/testdrive"><img id="testdriveLogoBR" src="/assets/Logo-SVG/Testdrive.svg"></a>
