{{> big-mac}}
{{> infoLink}}
{{> testdriveLogo}}

<img id="infoContactBg" src="./../public/assets/Elements/Info/Info-contact-outline.png" alt="">
<div id="infoContactInfo">
    <p>Opening Times<br>Thursday - Saturday<br>3pm - 7pm & by appointment</p><br><br>
    <p>Sapfous 6<br>Agios Savvas<br>1011, Nicosia<br>Cyprus</p><br>
    <p>+357 99 541997<br>+357 96 357857</p><br>
    <p>drivedrive.testdrive@gmail.com</p>
    <p>Facebook, Instagram</p><br><br>
    <p class="sign-up-to-our-maili"><strong>Sign up to our mailing list</strong><p><br>
</div>
    <form method="post">
      <input type="email" name="userEmail" value="">
      <input type="submit" name="" value="Sign up">
    </form>




<p id='credits'>Intro + Info  images  by  Aris  Mochloulis   Design   Despina   Rangou    Development   Four On The Floor</p>
<div id="infoMap" class="info map"></div>
