<div id="info">
<div class="info address">
  <h1>Info</h1>
  {{#contact}}
  <p>{{address}}</p>
  <p>{{phone}}</p>
  <p>{{hours}}</p>
  {{/contact}}
</div>
<div id="gMap" class="info map">
</div>

</div>
