<div class="info">
  <div id="mobile-menu-info">

    {{> mobile-menu}}

  </div>
  {{> infoLink}}
  {{> big-mac}}

  <div id="infoContactInfo">
    <div class='info-contact'>
      <p>Opening Times<br>Thursday - Saturday<br>4pm - 7pm & by appointment</p>
      <p>Sapfous 6<br>Agios Savvas<br>1011, Nicosia<br>Cyprus</p>
      <p>+357 99 541997<br>+357 96 357857</p>

      <p>drivedrive.testdrive@gmail.com</p>
      <div class="facebook">
        <p class="fbook-insta-color"> <a href="https://www.facebook.com/drivedrive.testdrive/" target="_blank">Facebook</a> ,
          <a href="https://www.instagram.com/drivedriveeeee/" target="_blank">Instagram</a></p>
            <h2 class="sign-up-to-our-maili">Sign up to our mailing list</h2>
      </div>

      <p id='error'>Sorry, that address doesn't seem to work. :(</p>

          <form id='c-form'>
          <input type="email" id='email' name="userEmail" placeholder='hello@drivedrive.com'></input>
          <button type="submit">Sign up</button>
          </form>

  </div>
</div>


<p id='credits'>Intro + Info images by <a href="https://www.instagram.com/trollaris/">Ari Mochloulis</a>| Design Despina Rangou | Development four_on_the_floor</p>
<div id="infoMap" class="map"></div>
<a id="testdriveLogoInfo" href="/testdrive"><img src="/assets/Logo-SVG/Testdrive.svg"></a>
</div>
