{{> big-mac}}
{{> side-menu}}
{{> testdriveLogo}}

<div id="infoContentOutline">
  <div>

    <p>Opening Times<br>Thursday - Saturday<br>3pm - 7pm & by appointment</p><br>
    <p>Sapfous 6<br>Agios Savvas<br>1011, Nicosia<br>Cyprus</p><br>
    <p>+357 99 541997<br>+357 96 357857</p><br>
    <p>drivedrive.testdrive@gmail.com</p>

    <p>Sign up to our mailing list</p>
    <form method="post">
      <input type="email" name="userEmail" value="">
      <input type="submit" name="" value="Sign up">
    </form>

</div>
</div>
<div id="infoMap" class="info map"></div>
