{{> big-mac}}
{{> side-menu}}

  <div id="infoContentOutline">
    <div>
    <p>Opening Times</p><br>
    <p>Thursday - Saturday</p><br>
    <p>3pm - 7pm & by appointment</p><br>
    <p>Sapfous 6</p><br>
    <p>Agios Savvas</p><br>
    <p>1011, Nicosia</p><br>
    <p>Cyprus</p><br>
    <p>+357 99 541997</p><br>
    <p>+357 96 357857</p><br>
    <p>drivedrive.testdrive@gmail.com</p><br>
  </div>
  <div>
    <h2>Sign up to our mailing list</h2>
    <form class="" method="post">
      <input type="email" name="userEmail" value="">
      <input type="submit" name="" value="Sign up">
    </form>
  </div>

</div>
  <div id="infoMap" class="info map"></div>
