<div id="info">
<div class="info address">
  <h1>Info</h1>
  {{#contact}}
  <p>{{address}}</p>
  <p>{{phone}}</p>
  <p>{{hours}}</p>
  {{/contact}}
</div>
<div class="info map">
  <!--  however the google maps is rendered-->
</div>

</div>
