@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}


@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}


#artist-container {
  position: absolute;
  top: get-vh(301.2px);
  left: get-vw(187.2px);
  height: get-vh(687.8px);
  width: get-vw(277.1px);
  background-image: url("/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-artists-purple.svg");
  background-repeat: no-repeat;
  // background-size: cover;
  // background-size: contain;

}

.artists {
  // height: 80%;
  width: get-vw(180px);
  height: get-vh(628px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: get-vh(45px);
  background-size: contain;
  display: inline-block;
  text-align:left;
  color: green;
}

.artists ul {
  margin-left: get-vw(80px);
  margin-right: auto;
  font-size: get-vw(20px);
  line-height: get-vh(1.4);
  font-family: TimesNewRomanPSMT;
  font-size: get-vw(20px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: get-vw(-1.9px);
  text-align: left;
  // color: #222222;
  align-items: center;
  margin-top: get-vh(45px);
  background-size: contain;
  display: inline-block;
  text-align:left;
  color:red;
}

#catalogue-line-green {
  position: absolute;
  width: get-vw(162.9px);
  height: get-vh(221.6px);
  object-fit: contain;
  // -webkit-transform: rotate(336deg);
  // transform: rotate(336deg);
  // border: solid 1px #00ff4f;
  top: get-vh(780.7px);
  left: get-vw(32.9px);
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
}

#pdfs-container {
  position: absolute;
  height: get-vh(1024px);
  width: get-vw(483px);
  object-fit: contain;
  top: get-vh(0px);
  left: get-vw(528px);
  background-image: url('/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-pdfbox-red-gradient.svg');
  // display: flex;
  // flex-direction: column;
  // align-content: center;
  background-image: linear-gradient(to bottom, #fbcaca, #ffffff);
  box-shadow: 0 2px 40px 0 rgba(246, 173, 173, 0.5);
}

.pds {
  position: absolute;
  top: get-vh(13px);
  width: get-vw(460px);
  height: get-vh(1011px);
  // height: 100%;
  // width: 100%;
  // list-style-type: none;
  // display: block;
  // margin-left: get-vw(55px);
  font-family: TimesNewRomanPSMT;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.9px;
  text-align: left;
  color: #222222;
}

.pds li {
  padding-bottom: get-vw(15px);
}

.pdf {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: get-vw(30px);
}

.pdf:hover {
  color: red;
}

#catalogue-line-blue {
  height: get-vh(196.3px);
  width: get-vw(248.6px);
  object-fit: contain;
  // border: solid 1px #657aff;
  position: absolute;
  top: get-vh(194px);
  left: get-vw(1183.1px);
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
}

#video-container {
  position: absolute;
  background-image: url("/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-video-grey.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width:get-vw(445px);
  height:get-vh(313px);
  object-fit: contain;
  top: get-vh(489px);
  left: get-vw(1062px);
}

#video {
  position: absolute;
  margin-top: get-vh(59.9px);
  margin-left: get-vw(47px);
  margin-right: get-vw(51.4px);
  margin-bottom: get-vh(44.5px);
}

// get-vw
// get-vh get-vw

// #temporary {
//     z-index: 3000;
//     width: get-vw(260px);
// 	height: get-vh(191px);
//     top:get-vh(559px);
//     left:get-vw(1116.8px);
//     // margin-top: get-vh(59.9px);
//     // margin-left: get-vw(47px);
//     margin-right: get-vw(51.4px);
//     margin-bottom: get-vh(44.5px);
// }
