#artist-container {
  position: absolute;
  top: 268px;
  left: 130px;
  height: 725.8px;
  width: 315.1px;
}

.artists {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-artists-purple.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artists p {
  margin-left: 80px;
  margin-right: auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.6;
}

#catalogue-line-green {
  position: absolute;
  height: 240.5px;
  width: 162.9px;
  top: 780.7px;
  left: 32.9px;
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
}

#pdfs-container {
  position: absolute;
  height: 1011px;
  width: 377px;
  top: 0px;
  left: 442px;
  background-image: url('/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-pdfbox-red-gradient.svg');
  display: flex;
  flex-direction: column;
  align-content: center;
}

.pds {
  position: absolute;
  top: 13px;
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: block;
  margin-left: 55px;
}

.pds li {
  padding-bottom: 15px;
}

.pdf {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 30px;
}

.pdf:hover {
  color: red;
}

#catalogue-line-blue {
  height: 196.3px;
  width: 248.6px;
  position: absolute;
  top: 218px;
  left: 974px;
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
}

#video-container {
position: absolute;
background-image: url("/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-video-grey.svg");
background-repeat: no-repeat;
background-size: contain;
width:382px;
height:268px;
top: 561px;
left: 878px;
}

#video {
  position: absolute;
  margin-top: 59.9px;
  margin-left: 47px;
  margin-right: 51.4px;
  margin-bottom: 44.5px;
}
