.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 76.7px);
  grid-template-rows: repeat(12, 8.33333%);
  grid-column-gap: 30px;
  overflow: visible;
  margin: 0px; }

.artistbackground {
  grid-row: 5 / span 6;
  grid-column: 2 /span 4;
  width: 19.48052vw;
  height: auto;
  object-fit: contain; }

#artist-container {
  grid-row: 6/ span 12;
  grid-column: 2 / span 4;
  justify-content: space-around;
  justify-self: center;
  height: auto;
  width: 38.96104vw;
  top: 35.15625vh;
  margin-left: 100px;
  background-repeat: no-repeat;
  font-family: TimesNewRomanPSMT;
  font-size: 1.2987vw;
  line-height: 2.73438vh;
  letter-spacing: -0.12338vw;
  text-align: left;
  color: #222222;
  z-index: 4000; }

#cat-disp {
  display: none; }

#catalogue-line-green {
  position: absolute;
  width: 10.57792vw;
  height: 21.64062vh;
  object-fit: contain;
  top: 76.24023vh;
  left: 2.13636vw;
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto; }

#pdfs-container {
  width: 100%;
  grid-column: 5/ span 8;
  grid-row: 1 / span 12;
  height: 100vh;
  width: 31.36364vw;
  object-fit: contain;
  top: 0vh;
  background-image: linear-gradient(to bottom, #fbcaca, #ffffff);
  overflow-y: scroll; }

.pds {
  grid-row: 1 / span 12;
  grid-column: 3 / span 6;
  justify-content: flex-start;
  height: 98.73047vh;
  list-style-type: none;
  margin: 0px;
  padding: 12px;
  margin-left: 0vw;
  font-family: TimesNewRomanPSMT;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.9px;
  text-align: left;
  color: #222222; }

.pds li {
  padding-bottom: 0.97403vw; }

.pdf {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 1.94805vw; }

.pdf:hover {
  color: #ff4819; }

#catalogue-line-blue {
  grid-column: 10 / span 12;
  grid-row: 4 / span 12;
  height: 19.16992vh;
  width: 16.14286vw;
  top: 18.94531vh;
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto; }

#video-container {
  grid-column: 9 / span 12;
  grid-row: 8 / span 12;
  background-image: url("/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-video-grey.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 29.29688vh; }

#video {
  position: absolute;
  height: 19.53125vh;
  width: 22.0974vw;
  margin-top: 5.84961vh; }
