.eventList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  position: absolute;
  top: 35.18555vh;
  left: 4.2013vw; }
  .eventList ul > li {
    list-style-type: none;
    margin: 0;
    padding: 0; }

.eventsInfoBox {
  position: absolute;
  left: 34.28571vw;
  width: 48.05195vw;
  height: 99.70703vh;
  background-size: 48.05195vw 99.70703vh;
  display: flex;
  justify-content: center;
  overflow-y: scroll; }

.eventDetails {
  margin-bottom: 0.97656vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28.8961vw;
  height: 10.53711vh; }

#ddEventsList .eventDetails:hover {
  background-image: url("./../assets/Elements/DriveDrive/Events/DD-Events-Hover-Active-state-pink.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
  margin: -50px; }

#ddEventsInfobox {
  background-image: url("./../assets/Elements/DriveDrive/Events/DD-Events-infobox-red-gradient.png");
  filter: drop-shadow(0 0 0.75rem rgba(246, 173, 173, 0.5)); }
