.eventsInfoBox {
  grid-column: 6 / 11;
  grid-row: 1 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48.05195vw;
  height: 99.70703vh;
  background-size: 48.05195vw 99.70703vh;
  overflow-y: scroll;
  overflow-x: hidden; }

.eventInfo {
  display: flex;
  flex-direction: column;
  width: 90%; }

.events-img {
  width: 100%;
  height: auto; }

.event-top-title {
  width: 46.94805vw;
  height: 3.22266vh;
  font-family: TimesNewRomanPSMT;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.9px;
  text-align: left; }

.eventsInfoBoxHidden {
  display: none; }

.eventList {
  grid-column: 2 /  5;
  grid-row: 3 / span 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3.63636vw; }

.eventDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28.24675vw;
  height: 9.85352vh;
  padding: 30px;
  margin: -22px; }
  .eventDetails p {
    margin: 0;
    padding: 0; }
  .eventDetails .eventsDetailDate {
    margin-left: 50px;
    font-family: TimesNewRomanPSMT;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222; }
  .eventDetails .eventsDetailTitle {
    margin-left: 50px;
    font-family: TimesNewRomanPSMT;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222; }

#eve-disp {
  display: none; }

@media only screen and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #eve-disp {
    display: block;
    height: 6.89655vh;
    width: 31.11111vw; }
    #eve-disp p {
      font-size: 41px;
      text-align: center;
      font-family: TimesNewRomanPSMT;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -2.4px;
      text-align: center;
      color: #ffb760;
      -webkit-text-stroke: 0 #979797; }
  .eventList {
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    height: 70%;
    width: 100%;
    margin-left: -0.83333vw; }
  .eventDetails {
    display: flex;
    flex-direction: column;
    justify-content: margin-left;
    align-items: margin-left;
    font-family: TimesNewRomanPSMT;
    font-size: 5.55556vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: -0.25vw;
    text-align: left;
    color: #222222;
    width: 85.55556vw;
    height: 16.17691vh;
    margin-left: 0;
    padding: 25px; }
  .eventDetails div p:first-child {
    margin-left: 10.91667vw;
    margin-top: 4.16792vh;
    font-family: TimesNewRomanPSMT;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.18;
    letter-spacing: -0.9px;
    color: #222222; }
  .eventDetails div p:nth-child(2) {
    margin-left: 10.91667vw;
    margin-bottom: 4.52774vh;
    font-family: TimesNewRomanPSMT;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: -0.9px;
    color: #222222; }
  .eventsInfoBox {
    display: flex;
    justify-content: center;
    width: auto;
    height: 72vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: height 0.4s ease-in-out; }
  .eventsInfoBoxClosed {
    height: 0; }
  .eventsInfoBox div {
    width: 94%; }
  .events-img {
    width: 98%;
    margin-left: 0.77922vw;
    margin-right: 0.77922vw; }
  .event-top-title {
    width: 101.94444vw;
    height: 5.24738vh;
    top: 1.94903vh;
    font-family: TimesNewRomanPSMT;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left; }
  .ddevent-top-title {
    width: 101.94444vw;
    height: 5.24738vh;
    top: 1.94903vh;
    font-family: TimesNewRomanPSMT;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left; } }

/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
