.eventsContainer {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 5.9375vw);
  grid-template-rows: repeat(12, 8.33333%);
  grid-column-gap: 2.34375vw;
  margin: 0px;
  overflow-x: hidden; }

.eventsInfoBox {
  grid-column: 5 / 10;
  grid-row: 1 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48.05195vw;
  height: 99.70703vh;
  background-size: 48.05195vw 99.70703vh;
  overflow-y: scroll;
  overflow-x: hidden; }

.eventInfo {
  display: flex;
  flex-direction: column;
  width: 90%; }

.events-img {
  width: 100%;
  height: auto; }

.event-top-title {
  width: 46.94805vw;
  height: 3.22266vh;
  font-family: TimesNewRomanPSMT;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.9px;
  text-align: left; }

.eventsInfoHidden {
  display: none; }

.eventList {
  grid-column: 1 / 4;
  grid-row: 3 / span 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 9.375vw; }

.eventDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28.24675vw;
  height: 9.85352vh;
  padding: 30px;
  margin: -22px; }
  .eventDetails p {
    margin: 0;
    padding: 0; }
  .eventDetails .eventsDetailDate {
    margin-left: 50px;
    font-family: TimesNewRomanPSMT;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222; }
  .eventDetails .eventsDetailTitle {
    margin-left: 50px;
    font-family: TimesNewRomanPSMT;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222; }

#eve-disp {
  display: none; }

@media only screen and (min-device-width: 300px) and (max-device-width: 700px) and (orientation: portrait) {
  .eventsContainer {
    display: grid;
    grid-template-rows: 32.2962962962963vh 1fr 1fr;
    grid-template-columns: repeat(4, 22.22222vw);
    grid-column-gap: 2.7777777777777777vw;
    height: 100%;
    width: 100%;
    overflow-x: hidden; }
  .eventList {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0; }
  .eventDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92.26666666666667vw;
    height: 16.041979010494753vh;
    padding: 10px;
    margin: 0; }
    .eventDetails p {
      margin: 0;
      padding: 0; }
    .eventDetails .eventsDetailDate {
      margin-left: 50px;
      font-family: TimesNewRomanPSMT;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222; }
    .eventDetails .eventsDetailTitle {
      margin-left: 50px;
      font-family: TimesNewRomanPSMT;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222; }
  .eventDetailsHidden {
    display: none; }
  .eventsInfoBox {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-end;
    transition: all 0.6s; }
  .eventInfo {
    display: flex;
    flex-direction: column;
    width: 90%; }
  .eventsInfoHidden {
    display: none; }
  .events-img {
    width: 100%;
    height: auto; }
  .event-top-title {
    width: 46.94805vw;
    height: 3.22266vh;
    font-family: TimesNewRomanPSMT;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left; }
  .eventsInfoBoxHidden {
    display: none; } }

/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
/* iPad Portrait */
