.eventList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  position: absolute;
  top: 39.55078vh;
  left: 3.55195vw; }

.eventDetails {
  display: flex;
  flex-direction: column;
  justify-content: margin-left;
  align-items: margin-left;
  font-family: TimesNewRomanPSMT;
  font-size: 1.2987vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: -0.05844vw;
  text-align: left;
  color: #222222;
  width: 28.24675vw;
  height: 9.85352vh;
  padding: 30px;
  margin: -22px; }
  .eventDetails div p:first-child {
    height: 3.22266vh;
    margin-left: 3.2013vw;
    font-family: TimesNewRomanPSMT;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.18;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222; }
  .eventDetails div p:nth-child(2) {
    height: 3.22266vh;
    margin-left: 3.2013vw;
    font-family: TimesNewRomanPSMT;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222; }

#eve-disp {
  display: none; }

.eventsInfoBox {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 34.28571vw;
  width: 48.05195vw;
  height: 99.70703vh;
  background-size: 48.05195vw 99.70703vh;
  overflow-y: scroll; }
  .eventsInfoBox div {
    width: 94%; }

.events-img {
  width: 85%;
  margin-left: 2.5974vw;
  margin-right: 0.06494vw; }

.event-top-title {
  width: 46.94805vw;
  height: 3.22266vh;
  top: 1.26953vh;
  font-family: TimesNewRomanPSMT;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.9px;
  text-align: left; }

.ddevent-top-title {
  width: 46.94805vw;
  height: 3.22266vh;
  top: 1.26953vh;
  font-family: TimesNewRomanPSMT;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.9px;
  text-align: left; }

@media only screen and (orientation: portrait) {
  #eve-disp {
    display: block;
    position: absolute;
    height: 6.89655vh;
    width: 31.11111vw;
    top: 19.04048vh;
    left: 36.94444vw; }
    #eve-disp p {
      color: orange;
      font-size: 41px;
      text-align: center; }
  .eventList {
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    position: absolute;
    min-height: 44.97751vh;
    width: 100%;
    top: 21.28906vh;
    margin-left: -0.83333vw;
    overflow-y: scroll;
    overflow-x: hidden; }
  .eventDetails {
    display: flex;
    flex-direction: column;
    justify-content: margin-left;
    align-items: margin-left;
    font-family: TimesNewRomanPSMT;
    font-size: 5.55556vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: -0.25vw;
    text-align: left;
    color: #222222;
    width: 85.55556vw;
    height: 16.17691vh;
    margin: 50px;
    margin-left: 0px;
    padding: 25px; }
  .eventDetails div p:first-child {
    margin-left: 10.91667vw;
    margin-top: 4.16792vh;
    font-family: TimesNewRomanPSMT;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.18;
    letter-spacing: -0.9px;
    color: #222222; }
  .eventDetails div p:nth-child(2) {
    margin-left: 10.91667vw;
    margin-bottom: 4.52774vh;
    font-family: TimesNewRomanPSMT;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: -0.9px;
    color: #222222; }
  .eventsInfoBox {
    position: absolute;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 56.52174vh;
    left: 0vw;
    width: 104.16667vw;
    height: 110.1949vh;
    background-image: linear-gradient(to bottom, #fbcaca, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll; }
  .eventsInfoBox div {
    width: 94%; }
  .events-img {
    width: 99%;
    margin-left: 0.77922vw;
    margin-right: 0.77922vw; }
  .event-top-title {
    width: 101.94444vw;
    height: 5.24738vh;
    top: 1.94903vh;
    font-family: TimesNewRomanPSMT;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left; }
  .ddevent-top-title {
    width: 101.94444vw;
    height: 5.24738vh;
    top: 1.94903vh;
    font-family: TimesNewRomanPSMT;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left; } }
