/* STYLING FOR BIG-MAC (DRIVEDRIVE) LOGO. */
#DriveDrive {
  width: 22.65625vw;
  height: 4.49219vh;
  position: absolute;
  top: 5.27344vh;
  left: 7.1875vw; }

.drivedrive-menu ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 11.42578vh;
  left: 7.1875vw; }

.drivedrive-menu a {
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-size: 3.20312vw;
  font-family: TimesNewRomanPSMT;
  letter-spacing: -0.1875vw;
  text-align: left;
  -webkit-text-stroke: 0 #979797;
  width: 16.40625vw;
  height: 5.46875vh; }
  .drivedrive-menu a:hover {
    color: #ffc278; }

/* END STYLING FOR BIG MAC */
/* BEGIN STYLING FOR HOMEPAGE

ALL WIDTH & HEIGHT PROPERTIES ARE FROM ZEPLIN.

all position:relative and bottom/left/top/right properties are me not knowing how to
position things well and forcing things to be positioned into place

Feel free to change all if you know of a better way to position the elements (gray cloud, blue/green/red lines, etc.) better!

*/
/* STYLING FOR THE GALLERY SPACE IMAGE */
#gallery-space-img {
  width: 72.89062vw;
  height: 84.27734vh;
  position: absolute;
  top: 7.96875vw;
  left: 17.65625vw; }

/* STYLING FOR THE RED, GREEN, AND BLUE LINES */
#home-red-line {
  width: 22.53125vw;
  height: 15.23438vh;
  object-fit: contain;
  position: absolute;
  top: 35.74219vh;
  left: 1.25vw; }

#home-green-line {
  width: 19.53125vw;
  height: 15.625vh;
  object-fit: contain;
  position: absolute;
  top: 61.52344vh;
  left: 67.8125vw; }

#home-blue-line {
  width: 14.35938vw;
  height: 18.06641vh;
  object-fit: contain;
  position: absolute;
  top: 12.98828vh;
  left: 76.09375vw; }

/* STYLING FOR MODAL */
#modal {
  visibility: hidden; }

/* STYLING FOR THE HULK IMAGE THAT FADES OUT */
#halk {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw; }

#home-container {
  opacity: 0;
  transition: 5s;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in; }

.home-video {
  position: absolute;
  background-image: url("/assets/Elements/Home/Home-video-cloud-grey.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 34.92188vw 26.95312vh;
  width: 34.92188vw;
  height: 26.95312vh;
  bottom: 7.22656vh;
  left: 3.51562vw; }

#home-v {
  width: 23.125vw;
  height: 16.21094vh;
  position: absolute;
  bottom: 12.5vh;
  left: 8.51562vw; }

.fadeIn {
  opacity: 1; }

#modal {
  position: absolute;
  top: 22.94922vh;
  left: 37.8125vw;
  width: 38.28125vw;
  height: 69.62891vh;
  background-image: url("/assets/Elements/Home/Home-infobox-blue.svg");
  /* background-color: #ffffff; */
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  #modal p {
    width: 22.57812vw;
    height: 44.53125vh;
    word-wrap: normal;
    font-family: TimesNewRomanPSMT;
    font-size: 1.75781vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: -0.0625vw;
    text-align: left;
    color: #222222;
    z-index: 1000;
    margin-top: 6.73828vh;
    margin-left: 4.45312vw;
    margin-right: 3.4375vw;
    margin-bottom: 8.59375vh; }
