/* STYLING FOR BIG-MAC (DRIVEDRIVE) LOGO. */
.fixedPagePosition {
  position: fixed;
  height: 100vh; }

#DriveDrive {
  width: 22.98701vw; }

video::-webkit-media-controls-panel {
  display: none; }

.burger {
  display: none; }

.mob-container {
  display: none; }

.home {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 5.9375vw);
  grid-template-rows: repeat(12, 8.33333%);
  grid-column-gap: 2.34375vw;
  overflow: hidden;
  margin: 0; }

.drivedrive-menu {
  grid-column: 1 / span 4;
  grid-row: 2 / span 4;
  justify-self: start;
  margin-top: -4vh;
  margin-left: 2vw;
  height: 14.14453vh;
  width: 19.10519vw; }
  .drivedrive-menu ul {
    height: auto;
    width: auto;
    margin-top: 1vh;
    display: flex;
    flex-direction: column; }

.home-video {
  grid-column: 1 / span 4;
  grid-row: 8 / 12;
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: end;
  height: 26.95312vh;
  width: 24.48052vw;
  justify-self: center;
  align-self: center;
  background: url("/assets/Elements/Home/Home-video-cloud-grey.svg") no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  margin-left: 4vw;
  padding: 1vh; }
  .home-video #home-v {
    justify-self: center;
    align-self: center;
    width: 19.48052vw;
    height: 14.64844vh;
    z-index: 1;
    margin-left: -2vw; }
    .home-video #home-v source {
      height: 100%;
      width: 100%; }

#gallery-space-img {
  width: 79%;
  height: 80vh;
  margin-left: 3vw;
  margin-right: 3vw;
  grid-column: 3 / span 9;
  grid-row: 2 / span 12;
  justify-self: center;
  align-self: center;
  cursor: pointer; }

#modal {
  grid-column: 5 / 9;
  grid-row: 2 / span 11;
  justify-self: start;
  align-self: center;
  height: 100%;
  align-self: center;
  background-image: url("/assets/Elements/Home/Modal-infobox.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  #modal .words {
    height: 90%;
    width: 65%;
    font-family: TimesNewRomanPSMT;
    font-size: 1.95312vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #222222;
    letter-spacing: normal;
    align-self: center;
    margin-top: 11vh;
    cursor: pointer; }

#testdriveLogoBR {
  grid-column: 8 / span 12;
  grid-row: 11/ span 12;
  justify-self: center;
  align-self: center; }
  #testdriveLogoBR img {
    margin-right: 10vw;
    width: 22.98701vw;
    z-index: 1001px; }

#infoLink {
  grid-column: 10 / 12;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center; }

#home-blue-line {
  height: 19.87305vh;
  width: 19.41558vw;
  grid-column: 10 / 12;
  grid-row: 1 / span 5;
  justify-self: center;
  align-self: center;
  margin-right: -10vw;
  margin-top: 10vh;
  z-index: 4px;
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto; }

#home-red-line {
  width: 26.09091vw;
  height: 21.2207vh;
  margin-left: -5vw;
  grid-column: 2 / 12;
  grid-row: 5 / span 7;
  object-fit: contain;
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto; }

#home-green-line {
  width: 16.88312vw;
  height: 15.625vh;
  grid-row: 8 / span 12;
  grid-column: 10 / 11;
  justify-self: center;
  align-self: center;
  cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
  z-index: 10; }

.cat {
  height: auto;
  width: auto;
  margin-top: 2.34375vh;
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-size: 3.24675vw;
  font-family: TimesNewRomanPSMT;
  letter-spacing: -0.13636vw;
  text-align: left;
  -webkit-text-stroke: 0 #979797; }

a:hover {
  color: #ffc278; }

.active {
  color: #ffc278; }

.events {
  margin-top: -1vh;
  width: 9.74026vw;
  height: 5.46875vh;
  text-decoration: none;
  font-family: TimesNewRomanPSMT;
  font-size: 3.24675vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.13636vw;
  text-align: left;
  color: #000000; }
  .events a:hover {
    color: #ffc278; }

#eve {
  grid-column: 11;
  grid-row: 10 /span 11;
  margin-bottom: 10vh;
  width: 100%;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-size: 3.24675vw;
  font-family: TimesNewRomanPSMT;
  letter-spacing: -0.13636vw;
  text-align: left;
  -webkit-text-stroke: 0 #979797; }
  #eve a:hover {
    color: #ffc278; }

#infoLink {
  grid-column: 11/ 12;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center; }
  #infoLink .bike {
    padding: 3vh;
    margin-right: -10vh; }
  #infoLink a {
    text-decoration: none; }
    #infoLink a h1 {
      font-size: 3.24675vw;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -1.4px;
      text-align: left;
      color: #222222; }

.act {
  color: #ffc278; }

.active-color-home {
  color: #000000; }

.halk {
  grid-column: 1 / span 12;
  grid-row: 1 / span 12;
  z-index: 9000;
  height: 100vh;
  width: 100vw; }

#halk-mobile {
  display: none; }

.fadeIn {
  opacity: 0; }

@media only screen and (min-device-width: 300px) and (max-device-width: 700px) and (orientation: portrait) {
  video::-webkit-media-controls-panel {
    display: inherit;
    border-radius: 8px;
    margin-top: 10px;
    min-width: 1px; }
  video::-webkit-media-controls-play-button {
    color: red; }
  .home {
    display: grid;
    grid-template-rows: 15vh 5vh 40vh 20vh 10vh 10vh;
    grid-template-columns: repeat(3, 33vw);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden; }
  #infoLink {
    display: none; }
  #testdriveLogoBR {
    grid-column: 1 / span 3;
    grid-row: 5;
    justify-self: center; }
    #testdriveLogoBR img {
      height: 20vh;
      width: 95%;
      margin-bottom: -10vh; }
  .homepage-tdevents {
    display: none; }
  .drivedrive-menu {
    grid-column: 1 / span 4;
    grid-row: 1;
    justify-self: center;
    align-self: start;
    width: 100%; }
    .drivedrive-menu #DriveDrive {
      margin-top: 7vh;
      width: 85%;
      height: 100%;
      margin-left: 1vw; }
    .drivedrive-menu ul #cat {
      display: none; }
    .drivedrive-menu ul #eve {
      display: none; }
  .burger {
    display: inline-block;
    grid-column: 2 / span 2;
    grid-row: 1;
    align-self: center;
    margin: 0 auto;
    z-index: 99999; }
  .mob-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    z-index: 300000;
    overflow: hidden;
    top: 0; }
    .mob-container .mob-dd-menu {
      margin-top: 4.04798vh;
      width: 100vw;
      display: flex;
      justify-content: center; }
      .mob-container .mob-dd-menu img {
        width: 80vw;
        height: auto; }
    .mob-container .x {
      margin-bottom: 3.5982vh; }
    .mob-container .mob-con {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%; }
      .mob-container .mob-con .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5.34333vh; }
        .mob-container .mob-con .links #mob-eve {
          margin-bottom: 4vh;
          font-size: 41px;
          font-family: TimesNewRomanPSMT;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -2.4px;
          text-align: center;
          color: #000000;
          -webkit-text-stroke: 0 #979797;
          text-decoration: none; }
        .mob-container .mob-con .links #mob-cat {
          font-size: 41px;
          font-family: TimesNewRomanPSMT;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -2.4px;
          text-align: center;
          color: #000000;
          -webkit-text-stroke: 0 #979797;
          text-decoration: none; }
        .mob-container .mob-con .links #mob-info {
          font-size: 41px;
          font-family: TimesNewRomanPSMT;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -2.4px;
          text-align: center;
          color: #000000;
          -webkit-text-stroke: 0 #979797;
          text-decoration: none; }
      .mob-container .mob-con #td-mob {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1vh; }
        .mob-container .mob-con #td-mob #mob-test-eve {
          text-decoration: none;
          margin-top: 2vh;
          margin-bottom: 12vh;
          font-size: 41px;
          font-family: TimesNewRomanPSMT;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -2.4px;
          text-align: center;
          color: #000000;
          -webkit-text-stroke: 0 #979797; }
  #gallery-space-img {
    margin-top: 7vh;
    margin-left: -3vw;
    grid-column: 1 / span 3;
    grid-row: 3;
    height: 100%;
    width: 85%; }
  #home-blue-line {
    position: absolute;
    top: 5vh;
    left: 67vw;
    width: 27%;
    height: 22%;
    cursor: url("/public/assets/Elements/Nav/bike.svg"), auto; }
  #home-red-line {
    position: absolute;
    width: 40%;
    height: 22%;
    object-fit: contain;
    top: 50vh;
    left: 4.66667vw;
    cursor: url("/public/assets/Elements/Nav/bike.svg") auto; }
  #home-green-line {
    position: absolute;
    width: 40%;
    height: 22%;
    object-fit: contain;
    top: 68vh;
    left: 55vw;
    cursor: url(/public/assets/Elements/Nav/bike.svg), auto;
    z-index: 10; }
  #modal {
    grid-row: 1 / span 6;
    grid-column: 1 / span 3;
    height: 100vh;
    width: 100%;
    display: none;
    opacity: 1;
    z-index: 333334;
    justify-content: start;
    padding: 8vh 5vh 14vh 8vh;
    background-color: white;
    background-size: 100% 90%;
    margin-top: 15vh;
    margin-left: -18vw;
    opacity: 1; }
    #modal .words {
      width: 43.32834vh;
      height: 65.51724vh;
      font-size: 2.69865vh;
      line-height: 1.06;
      letter-spacing: -0.8px;
      text-align: left;
      color: #222222;
      z-index: -30000;
      height: auto;
      font-family: TimesNewRomanPSMT;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: left;
      color: #222222;
      letter-spacing: normal;
      align-self: center;
      margin-top: 8vh; }
  .home-video {
    grid-column: 2;
    grid-row: 3 / span 4;
    height: 6%;
    width: 100%;
    justify-self: center;
    justify-content: center;
    width: 100%;
    justify-self: center;
    align-self: center;
    margin-top: 19vh;
    padding: 10vh;
    z-index: 333; }
    .home-video #home-v {
      grid-column: 2;
      grid-row: 3;
      z-index: 1000;
      width: 25vh;
      object-fit: contain; }
  .fadeIn {
    opacity: 1; }
  #halk-mobile {
    display: inline;
    grid-column: 1 / span 4;
    grid-row: 1 / span 12;
    z-index: 900000000;
    height: 100vh;
    width: 100vw; }
  .halk {
    display: none; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #modal {
    grid-column: 7 / 10;
    grid-row: 2 / span 9;
    justify-self: start;
    align-self: center;
    height: 100%;
    width: 28vw;
    align-self: center;
    background-image: url("/assets/Elements/Home/Modal-infobox.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    opacity: 3;
    flex-direction: column;
    justify-content: center;
    align-content: center; } }

@media only screen and (min-device-width: 701px) and (max-device-width: 1024px) and (orientation: landscape) {
  .home-video {
    grid-column: 1 / span 4;
    grid-row: 8 / 12;
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: end;
    height: 26.95312vh;
    width: 24.48052vw;
    justify-self: center;
    align-self: center;
    background: url("/assets/Elements/Home/Home-video-cloud-grey.svg") no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    margin-left: 4vw;
    padding: 1vh; }
    .home-video #home-v {
      justify-self: center;
      align-self: center;
      height: 15vh;
      width: 17vw;
      z-index: 1;
      margin-left: -2vw;
      margin-bottom: 7vh; }
      .home-video #home-v source {
        height: 100%;
        width: 100%; }
  #modal {
    grid-column: 5 / 9;
    grid-row: 2 / span 11;
    justify-self: start;
    align-self: center;
    height: 100%;
    width: 40vw;
    align-self: center;
    background-image: url("/assets/Elements/Home/Modal-infobox.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    #modal .words {
      height: 90%;
      width: 65%;
      font-family: TimesNewRomanPSMT;
      font-size: 1.95312vh;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: left;
      color: #222222;
      letter-spacing: normal;
      align-self: center;
      margin-top: 11vh;
      cursor: pointer; } }

@media only screen and (min-device-width: 701px) and (orientation: portrait) and (max-device-width: 1024px) {
  #gallery-space-img {
    width: 70vw;
    height: 50vh;
    margin-left: 3vw;
    margin-right: -3vw;
    margin-top: -10vh;
    grid-column: 3 / span 9;
    grid-row: 1 / span 12;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    z-index: 2; }
  #modal {
    grid-column: 3 / 9;
    grid-row: 3 / span 8;
    justify-self: start;
    align-self: center;
    width: 60vw;
    height: 70vh;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 2vw; }
    #modal .words {
      height: 100vh;
      width: 40vw;
      font-family: TimesNewRomanPSMT;
      font-size: 1.6vh;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: left;
      color: #222222;
      letter-spacing: normal;
      align-self: center;
      margin-top: 9vh;
      cursor: pointer; }
  #testdriveLogoBR {
    grid-column: 8 / span 12;
    grid-row: 11/ span 12;
    justify-self: center;
    align-self: center; }
    #testdriveLogoBR img {
      margin-right: 10vw;
      width: 22.98701vw;
      z-index: 1050; }
  .home-video {
    grid-column: 1 / span 4;
    grid-row: 8 / 12;
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: end;
    height: 26.95312vh;
    width: 24.48052vw;
    justify-self: center;
    align-self: center;
    background: url("/assets/Elements/Home/Home-video-cloud-grey.svg") no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    margin-left: 4vw;
    padding: 1vh; }
    .home-video #home-v {
      justify-self: center;
      align-self: center;
      width: 19.48052vw;
      height: 14.64844vh;
      z-index: 1;
      margin-left: -2vw;
      margin-bottom: 16vh; }
      .home-video #home-v source {
        height: 100%;
        width: 100%; }
  #eve {
    grid-column: 11;
    grid-row: 11 /span 11; }
  .events {
    margin-top: 1vh; }
  #home-green-line {
    width: 25.18182vw; }
  #testdriveLogoBR img {
    width: 25.98701vw; }
  #infoLink .bike {
    padding: 2vh;
    margin-right: -7vh; }
  #home-blue-line {
    margin-top: -1vh; }
  .pdf {
    text-decoration: none;
    color: black;
    text-align: left; } }

/*iPad Pro*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #modal {
    grid-column: 3 / 9;
    grid-row: 3 / span 8;
    justify-self: start;
    align-self: center;
    width: 10vw; } }
