#infoContactBg {
  width: 28.98701vw;
  height: 50.32227vh;
  position: absolute;
  left: 9.15584vw;
  top: 32.71484vh;
  top: 32.03125vh;
  bottom: 17.64648vh;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5)); }

#infoContactInfo {
  position: absolute;
  left: 12.66234vw;
  width: 15.90909vw;
  height: 31.44531vh;
  margin-top: 35.83984vh;
  margin-bottom: 32.71484vh;
  font-size: 1.95313vh;
  font-family: TimesNewRomanPSMT;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: -0.05844vw;
  text-align: left;
  color: #222222; }

form {
  position: absolute;
  left: 12.66234vw;
  bottom: 24.21875vh;
  border: 1px solid black;
  width: 21.36364vw;
  height: 3.90625vh;
  margin-top: 0.39063vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.sign-up-to-our-maili {
  margin-bottom: 38.86719vh;
  margin-top: -1.46484vh;
  font-family: TimesNewRomanPSMT;
  font-size: 1.2987vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: -0.05844vw;
  text-align: left;
  color: #222222;
  text-shadow: 3px 3px black; }

input {
  font-size: 1.2987vw;
  background: none;
  border: none;
  outline: none;
  font-family: TimesNewRomanPSMT;
  text-shadow: 3px 3px black; }
  input[type="email"] {
    width: 14.35065vw;
    height: 3.90625vh;
    outline: none; }
  input[type="submit"] {
    border-left: 2px solid black;
    width: 7.01299vw;
    height: 3.90625vh; }

#credits {
  position: absolute;
  bottom: 3.71094vh;
  left: 9.28571vw;
  white-space: nowrap;
  background-color: black;
  font-family: TimesNewRomanPSMT;
  font-size: 0.77922vw;
  color: white;
  text-align: left; }

#infoMap {
  position: absolute;
  top: 16.69922vh;
  right: 25.97403vw;
  align-self: center;
  width: 31.36364vw;
  height: 37.46753vw;
  border: 1px solid black;
  -moz-box-shadow: 0 0 50px #8315a8;
  -webkit-box-shadow: 0 0 50px #8315a8;
  box-shadow: 0 0 50px #8315a8; }

/* MOBILE DESIGN  */
/* FUNCTIONS TO CONVERT TO vh AND vw FOR MOBILE */
/* ~~~~~~~~~~~~~~~~~~~~ STYLING FOR MENU - MOBILE ONLY ~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 360px) and (max-width: 600px) {
  #mobile-background-img {
    background: url(../assets/mobile/Info-mobile.png);
    background-size: 111.11111vw 190.25487vh;
    width: 104.16667vw;
    height: 190.25487vh;
    top: 100.74963vh;
    left: 0vw;
    background-repeat: repeat-y; }
  #infoMap {
    position: absolute;
    width: 96.66667vw;
    height: 62.21889vh;
    top: 18.44078vh;
    left: 3.88889vw; }
  #infoContactBg {
    position: absolute;
    width: 104.16667vw;
    height: 77.25637vh;
    top: 86.65667vh;
    left: 0vw; }
  #infoContactInfo {
    position: absolute;
    width: 68.05556vw;
    height: 48.27586vh;
    top: 92.50375vh;
    left: 6.66667vw;
    margin: 1.49925vh 29.44444vw 23.13343vh 3.88889vw;
    /* STYLING FOR FONT */
    font-family: TimesNewRomanPSMT;
    font-size: 2.9985vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222; }
  form {
    position: absolute;
    width: 61.38889vw;
    height: 5.997vh;
    top: 147.82609vh;
    left: 6.94444vw; }
  .sign-up-to-our-maili {
    position: absolute;
    width: 68.05556vw;
    height: 3.44828vh;
    top: 50.22489vh;
    /* STYLING FOR FONT */
    font-family: TimesNewRomanPSMT;
    font-size: 2.9985vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: -0.9px;
    text-align: left;
    text-shadow: 2px 2px black;
    color: #222222; }
  /* STYLING FOR THE MAILING FORM & INPUT FIELD */
  form {
    position: absolute;
    width: 87.5vw;
    left: 10.55556vw;
    text-align: center; }
  input {
    font-size: 1.2987vw;
    background: none;
    border: none;
    outline: none;
    /* STYLING FOR FONT */
    font-family: TimesNewRomanPSMT;
    font-size: 2.9985vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: center;
    color: #222222; }
    input[type="email"] {
      width: 61.38889vw;
      height: 5.997vh;
      outline: none; }
    input[type="submit"] {
      border-left: 2px solid black;
      width: 27.77778vw;
      height: 5.997vh; }
  #testdriveInfo {
    position: absolute;
    width: 80.55556vw;
    height: 4.49775vh;
    top: 179.46027vh;
    left: 11.66667vw; }
  #credits {
    display: none; } }
