.info {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 8.33333%);
  grid-column-gap: 1.94805vw;
  overflow: hidden;
  margin: 0;
  background-image: url("/assets/Elements/Info/Info-bgA.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

#error {
  display: none;
  color: red;
  height: 20px;
  font-size: 1.75781vh;
  font-weight: bold;
  margin: 0;
  padding: 0; }

#infoContactBg {
  width: 28.98701vw;
  height: auto;
  position: fixed;
  z-index: -20;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5)); }

#infoContactInfo {
  width: 32.23377vw;
  height: 90%;
  grid-column: 1 / span 5;
  grid-row: 4/ span 9;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222222;
  background-image: url("/assets/Elements/Info/Info-contact-outline.png");
  background-size: 90%;
  background-repeat: no-repeat;
  margin-top: 8vh;
  margin-left: 8vw; }
  #infoContactInfo .info-contact {
    z-index: 200;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -5vh; }
    #infoContactInfo .info-contact p {
      font-size: 1.16883vw;
      font-family: TimesNewRomanPSMT;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.05;
      letter-spacing: -0.05844vw;
      text-align: left;
      margin-left: 4vw; }
    #infoContactInfo .info-contact .facebook {
      margin-top: -4vh; }
    #infoContactInfo .info-contact .form-button {
      grid-column: 2 / span 4;
      grid-row: 10/ span 11; }
      #infoContactInfo .info-contact .form-button form {
        width: 20.36364vw;
        height: 4vh;
        display: flex;
        justify-content: start;
        align-items: center;
        border: 2px solid black;
        margin-left: 3.5vw; }
        #infoContactInfo .info-contact .form-button form input {
          width: 16vw;
          height: 3.2vh;
          font-size: 1.75781vh;
          background: none;
          border: none;
          outline: none;
          font-family: TimesNewRomanPSMT; }
      #infoContactInfo .info-contact .form-button button {
        grid-column: 3 / span 4;
        margin-right: -22vw;
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: left;
        color: #222222;
        height: 4.5vh;
        /* width: 50%; */
        border: inherit;
        background: white;
        font-size: 1.95312vh;
        text-shadow: 1px 1px black;
        cursor: pointer; }

.sign-up-to-our-maili {
  text-shadow: 1px 1px black;
  margin-left: 7vh;
  font-family: TimesNewRomanPSMT;
  font-size: 1.2987vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.9px;
  text-align: left;
  color: #222222; }

#credits {
  grid-column: 2 / 5;
  grid-row: 12;
  justify-self: start;
  align-self: center;
  white-space: nowrap;
  background-color: black;
  font-family: TimesNewRomanPSMT;
  font-size: 0.77922vw;
  color: white;
  text-align: left; }

#infoMap {
  grid-column: 6 / 10;
  grid-row: 3 / 11;
  width: 95%;
  height: 100%;
  border: 1px solid black;
  -moz-box-shadow: 0 0 50px #8315a8;
  -webkit-box-shadow: 0 0 50px #8315a8;
  box-shadow: 0 0 50px #8315a8; }

#testdriveLogoInfo {
  grid-column: 10 / 12;
  grid-row: 11 / span 12;
  justify-self: end;
  align-self: center; }
  #testdriveLogoInfo img {
    margin-right: -6vh;
    margin-top: -6vh;
    width: 23vw; }

/* ~~~~~~~~~~~~~~~~~~~~ STYLING FOR MENU - MOBILE ONLY ~~~~~~~~~~~~~~~~~~~~~ */
/* MOBILE DESIGN  */
/* FUNCTIONS TO CONVERT TO vh AND vw FOR MOBILE */
@media only screen and (min-device-width: 300px) and (max-device-width: 700px) and (orientation: portrait) {
  .info {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(10, 10%);
    background-image: url("/assets/mobile/Info-mobile.png");
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 190.25487vh; }
  #mobile-menu-info {
    grid-column: 2 / 4;
    grid-row: 1;
    justify-self: center;
    align-self: end;
    margin-right: 5vw;
    z-index: 30000; }
  #infoMap {
    grid-column: 1/ span 4;
    grid-row: 2 / span 4;
    margin-top: 2vh;
    width: 85%;
    height: 80%;
    margin-left: 5vw;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    -moz-box-shadow: 0 0 50px #8315a8;
    -webkit-box-shadow: 0 0 50px #8315a8;
    box-shadow: 0 0 50px #8315a8; }
  #infoContactInfo {
    width: 108vw;
    height: 100vh;
    grid-column: 1 / span 4;
    grid-row: 5/ span 9;
    object-fit: contain;
    margin-right: 22vw;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222222;
    background-image: url("/assets/Elements/Info/Info-contact-outline.png");
    background-size: 109vw 75vh;
    background-repeat: no-repeat;
    margin-top: 8vh;
    margin-left: 8vw; }
    #infoContactInfo .info-contact {
      grid-column: 1 / span 3;
      grid-row: 7/ span 9;
      z-index: 200;
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-bottom: 15vh;
      margin-left: 10vw; }
      #infoContactInfo .info-contact p {
        font-size: 2vh;
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        letter-spacing: -0.05844vw;
        text-align: left;
        margin-left: 4vw;
        margin-bottom: 5vw; }
      #infoContactInfo .info-contact .facebook {
        margin-bottom: 6vh; }
      #infoContactInfo .info-contact form {
        width: 80vw;
        height: 4vh;
        display: flex;
        justify-content: start;
        align-items: center;
        border: 2px solid black;
        margin-left: 3.5vw; }
        #infoContactInfo .info-contact form input {
          height: 100%;
          font-size: 15px;
          background: none;
          border: none;
          outline: none;
          font-family: TimesNewRomanPSMT; }
      #infoContactInfo .info-contact button {
        margin-left: 11vw;
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: left;
        color: #222222;
        height: 4.6vh;
        /* width: 50%; */
        border: inherit;
        background: white;
        font-size: 19px;
        padding: 1px 3px 3px 9px;
        text-shadow: 1px 1px black;
        cursor: pointer; }
    #infoContactInfo .sign-up-to-our-maili {
      text-shadow: 1px 1px black;
      margin-left: 2vh;
      margin-top: -1vh;
      font-family: TimesNewRomanPSMT;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222; }
  #testdriveLogoInfo {
    grid-column: 1 / span 4;
    grid-row: 9 / span 10;
    margin-bottom: -4vh;
    align-self: end;
    justify-self: end;
    height: 100%;
    width: 100%;
    background-image: url("/assets/mobile/info-testdrive-box-02.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    #testdriveLogoInfo img {
      height: 100%;
      width: 90%;
      margin-top: 7vh; }
  #credits {
    grid-row: 10;
    grid-column: 1 / span 4;
    padding-left: 5vh;
    margin-bottom: 0;
    justify-self: start;
    align-self: end;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    z-index: 3000; } }

@media only screen and (min-device-width: 376px) and (max-device-width: 736px) and (orientation: landscape) {
  .sign-up-to-our-maili {
    font-size: 10px; }
  #infoContactInfo .info-contact form input {
    width: 13vw;
    height: 3vh;
    font-size: 8px;
    background: none;
    border: none;
    outline: none;
    font-family: TimesNewRomanPSMT; }
  form {
    width: 20.36364vw; }
  #infoContactInfo .info-contact button {
    margin-right: -20vw;
    font-family: TimesNewRomanPSMT;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    color: #222222;
    height: 4.5vh;
    width: 35%;
    border: inherit;
    background: white;
    font-size: 9px;
    text-shadow: 1px 1px black;
    cursor: pointer; } }

@media only screen and (min-device-width: 701px) and (max-device-width: 1024px) and (orientation: landscape) {
  #infoMap {
    grid-column: 6 / 11; }
  #infoContactInfo {
    grid-column: 2 / 5;
    grid-row: 4 / span 7;
    width: 38vw;
    height: 60vh;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    line-height: 1.05;
    letter-spacing: -0.05844vw;
    text-align: left;
    color: #222222; }
    #infoContactInfo .info-contact {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #infoContactInfo .info-contact p {
        font-size: 1.8vh;
        margin-left: 3.5vw; }
      #infoContactInfo .info-contact form {
        width: 80%;
        height: 3.90625vh;
        margin-top: 0.39062vh;
        display: flex;
        justify-content: center;
        align-items: center; }
        #infoContactInfo .info-contact form button {
          width: 10vw; }
      #infoContactInfo .info-contact .facebook {
        margin-top: -3vh; }
      #infoContactInfo .info-contact .sign-up-to-our-maili {
        margin-top: 1.5vh;
        margin-left: 3.5vw;
        font-family: TimesNewRomanPSMT;
        font-size: 1.94805vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        letter-spacing: -0.05844vw;
        text-align: left;
        color: #222222;
        text-shadow: 1px 1px black; }
      #infoContactInfo .info-contact input {
        width: 8.44156vw;
        height: 4.39453vh;
        font-size: 40px;
        background: none;
        border: none;
        outline: none;
        font-family: TimesNewRomanPSMT;
        text-shadow: 1px 1px black; } }

@media only screen and (min-device-width: 701px) and (max-device-width: 1024px) and (orientation: portrait) {
  #infoMap {
    grid-column: 6 / 11;
    grid-row: 3 / span 4; }
  #infoContactInfo {
    grid-column: 1 / 4;
    grid-row: 5 / span 12;
    justify-self: start;
    align-self: center;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: start; }
    #infoContactInfo .info-contact {
      margin-left: 6vw;
      margin-top: 2vh; }
      #infoContactInfo .info-contact p {
        font-size: 1.5vh;
        margin-left: -1vw; }
      #infoContactInfo .info-contact form {
        width: 47.33766vw;
        height: 3.90625vh; }
        #infoContactInfo .info-contact form input {
          width: 65%; }
        #infoContactInfo .info-contact form button {
          width: 35%; }
      #infoContactInfo .info-contact .facebook {
        margin-top: -2vh; }
  .sign-up-to-our-maili {
    margin-left: -1.2vh;
    margin-top: 1vh;
    font-size: 2vh; }
  #testdriveLogoInfo {
    grid-row: 11 / 12;
    height: 100%;
    justify-self: center;
    align-self: center; }
    #testdriveLogoInfo img {
      height: 9.76562vh;
      width: 28.83117vw;
      margin-right: 1vh;
      margin-top: 2vh; }
  #credits {
    font-size: 12px; } }
