html {
  height: 100%; }

body {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(12, 6.36364vw);
  grid-column-gap: 1.948051948051948vw;
  background-size: 100%;
  background-repeat: no-repeat; }

.hidden {
  display: none; }

.drivedrive-menu {
  grid-column: 1 / 3; }

#side-menu {
  grid-column: 12 / 13; }

.testdrive-logo {
  grid-column: 10 / 11;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.eventList {
  grid-column: 1 / 3; }

.eventsInfoBox {
  height: 400px;
  width: 200px;
  grid-column: 5 / 7;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#infoMap {
  grid-column: 6 / 9;
  align-self: center;
  height: 300px;
  width: 19.48052vw vw;
  border: 1px solid black; }

#infoContentOutline {
  grid-column: 1 / 3;
  height: 400px;
  width: 200px;
  background-image: url("./../assets/Elements/Info/Info-contact-outline.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#testdrive-logo-home {
  grid-column: 1 / 3; }

#tdEventsList li:hover {
  background-image: url("./../assets/Elements/Testdrive Events/TD-Events-Hover-Active-state-green.svg"); }

#tdEventsInfobox {
  background-image: url("./../assets/Elements/Testdrive Events/TD-Events-infobox-green-gradient.svg"); }

#ddEventsList li:hover {
  background-image: url("./../assets/Elements/DriveDrive/Events/DD-Events-Hover-Active-state-pink.svg"); }

#ddEventsInfobox {
  background-image: url("./../assets/Elements/DriveDrive/Events/DD-Events-infobox-red-gradient.svg"); }

.home {
  height: 50px; }

#modal {
  visibility: hidden;
  height: 50px; }

#home-img-cloud {
  grid-column: 1 / 2; }
