html {
  height: 100%; }

body {
  height: inherit;
  background-size: 100%;
  background-repeat: no-repeat; }

.hidden {
  display: none; }

#infoLink {
  position: absolute;
  right: 7.79221vw;
  width: 8.50649vw;
  height: 6.44531vh;
  top: 5.56641vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  width: 8.96104vw;
  height: 5.46875vh;
  font-family: TimesNewRomanPSMT; }
  #infoLink a {
    text-decoration: none;
    color: #222222; }
  #infoLink img {
    position: absolute;
    width: 1.94805vw;
    height: 3.80859vh;
    margin-top: 0.87891vh;
    margin-left: 6.49351vw;
    z-index: 80; }
  #infoLink h1 {
    font-size: 3.24675vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.4px;
    text-align: left;
    color: #222222; }

#testdriveLogoBR {
  position: absolute;
  width: 18.83117vw;
  height: 2.92969vh;
  bottom: 8.39844vh;
  right: 2.20779vw;
  z-index: 20; }

#testdriveLogoInfo {
  position: absolute;
  width: 18.83117vw;
  height: 2.92969vh;
  bottom: 8.39844vh;
  right: 2.20779vw;
  z-index: 20; }

#testdriveLogoTL {
  position: absolute;
  top: 6.93359vh;
  left: 9.28571vw;
  width: 21.94805vw;
  height: 3.41797vh; }

#backButton {
  position: absolute;
  bottom: 4.39453vh;
  right: 7.79221vw;
  width: 8.50649vw;
  height: 6.44531vh;
  cursor: pointer; }
  #backButton h1 {
    font-size: 3.24675vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.4px;
    text-align: left;
    color: #222222; }

.home {
  height: 50px; }

/* STYLING FOR NAV MENU - MOBILE */
.mob-container {
  position: absolute;
  left: -5000px; }

/* MOBILE DESIGN  */
/* FUNCTIONS TO CONVERT TO vh AND vw FOR MOBILE */
@media only screen and (orientation: portrait) {
  /* STYLING FOR NAV MENU - MOBILE */
  .mob-container {
    position: fixed;
    min-width: 100%;
    top: 0vh;
    left: -600px;
    height: 100%;
    background-color: white;
    z-index: 40000; }
  #mob-dd-menu {
    position: absolute;
    width: 78.88889vw;
    height: 6.74663vh;
    top: 4.04798vh;
    left: 12.77778vw;
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000000; }
  .x {
    position: absolute;
    width: 3.88889vw;
    height: 2.09895vh;
    top: 13.34333vh;
    left: 50vw;
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000000; }
  #mob-cat {
    position: absolute;
    width: 43.61111vw;
    height: 6.89655vh;
    top: 19.04048vh;
    left: 30.41667vw;
    /* STYLING FOR FONTS */
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.4px;
    text-align: center;
    color: #000000;
    -webkit-text-stroke: 0 #979797; }
  #mob-eve {
    position: absolute;
    width: 31.38889vw;
    height: 6.89655vh;
    top: 25.78711vh;
    left: 36.52778vw;
    /* STYLING FOR FONTS */
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000000; }
  #mob-info {
    position: absolute;
    width: 16.11111vw;
    height: 6.89655vh;
    top: 36.28186vh;
    left: 44.16667vw;
    /* STYLING FOR FONTS */
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000000; }
  #mob-bike {
    position: absolute;
    width: 10.83333vw;
    height: 8.09595vh;
    top: 41.67916vh;
    left: 46.94444vw;
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000000; }
  #mob-testdriveLogo {
    position: absolute;
    width: 80.55556vw;
    height: 4.49775vh;
    top: 74.51274vh;
    left: 11.66667vw;
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000000; }
  #mob-test-eve {
    position: absolute;
    width: 31.38889vw;
    height: 6.89655vh;
    top: 81.10945vh;
    left: 36.25vw;
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000000; }
  /* END OF STYLING FOR NAV MENU - MOBILE ***********/
  a {
    text-decoration: none; }
  #testdriveLogoBR {
    position: absolute;
    width: 80.55556vw;
    height: 4.49775vh;
    bottom: 2.9985vh;
    right: 11.94444vw;
    z-index: 20; }
  #testdriveLogoTL {
    position: absolute;
    top: 7.04648vh;
    right: 10.55556vw;
    width: 80.55556vw;
    height: 4.49775vh; }
  #testdriveLogoInfo {
    position: absolute;
    width: 80.55556vw;
    height: 4.49775vh;
    top: 179.46027vh;
    right: 9.44444vw;
    z-index: 20; } }

#cat:hover, #eve:hover {
  color: #ffc278; }
