html {
  height: 100%; }

body {
  height: inherit;
  background-size: 100%;
  background-repeat: no-repeat; }

.hidden {
  display: none; }

#infoLink {
  position: absolute;
  top: 5.56641vh;
  right: 4.02597vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8.96104vw;
  height: 5.46875vh;
  font-family: TimesNewRomanPSMT; }
  #infoLink a {
    text-decoration: none;
    color: #222222; }
  #infoLink img {
    width: 1.94805vw;
    height: 3.80859vh; }
  #infoLink h1 {
    font-size: 3.24675vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.4px;
    text-align: left;
    color: #222222; }

#backButton {
  position: absolute;
  bottom: 8.39844vh;
  right: 8.18182vw;
  width: 89px;
  height: 56px;
  cursor: pointer; }
  #backButton h1 {
    font-size: 3.24675vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.4px;
    text-align: left;
    color: #222222; }

.home {
  height: 50px; }

/* STYLING FOR NAV MENU - MOBILE */
.mob-container {
  position: absolute;
  left: 100%; }

/* ~~~~~~~~~~~~~~~~~~~~ STYLING FOR MENU - MOBILE ONLY ~~~~~~~~~~~~~~~~~~~~~ */
/* FUNCTIONS TO CONVERT TO vh AND vw FOR MOBILE */
@media screen and (min-width: 375px) and (max-width: 600px) {
  /* STYLING FOR NAV MENU - MOBILE */
  .mob-container {
    position: absolute;
    min-width: 100%;
    top: 12.5937vh;
    height: 100%;
    background-color: white;
    z-index: 5000; }
  .x {
    position: absolute;
    width: 3.73333vw;
    height: 2.09895vh;
    top: 0.74963vh;
    left: 48vw; }
  #mob-cat {
    position: absolute;
    width: 41.86667vw;
    height: 6.89655vh;
    top: 6.44678vh;
    left: 29.2vw;
    /* STYLING FOR FONTS */
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.4px;
    text-align: center;
    color: #000000;
    -webkit-text-stroke: 0 #979797; }
  #mob-eve {
    position: absolute;
    width: 30.13333vw;
    height: 6.89655vh;
    top: 13.1934vh;
    left: 35.06667vw;
    /* STYLING FOR FONTS */
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000000; }
  #mob-info {
    position: absolute;
    width: 15.46667vw;
    height: 6.89655vh;
    top: 23.68816vh;
    left: 42.4vw;
    /* STYLING FOR FONTS */
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000000; }
  #mob-bike {
    position: absolute;
    width: 10.4vw;
    height: 8.09595vh;
    top: 29.08546vh;
    left: 45.06667vw; }
  #mob-testdr-title {
    position: absolute;
    width: 77.33333vw;
    height: 4.49775vh;
    top: 61.91904vh;
    left: 11.2vw; }
  #mob-test-eve {
    position: absolute;
    width: 30.13333vw;
    height: 6.89655vh;
    top: 68.51574vh;
    left: 34.8vw;
    /* STYLING FOR FONTS */
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000000; }
  a {
    text-decoration: none; } }
