#testdriveLogoTL {
  grid-column: 2 / 5;
  grid-row: 2 / span 2;
  margin-left: 4.54545vw;
  width: 18.83117vw;
  height: 2.92969vh; }
  #testdriveLogoTL img {
    object-fit: contain; }

.tdEventActive {
  background-image: url("./../assets/Elements/Testdrive Events/TD-Events-Hover-Active-state-green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

#tdEventsInfobox {
  background-image: url("./../assets/Elements/Testdrive Events/TD-Events-infobox-green-gradient.png");
  filter: drop-shadow(0 0 0.75rem rgba(1, 223, 54, 0.5)); }

@media only screen and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .testdr-title {
    height: 4.49775vh;
    width: 80.55556vw;
    z-index: 10; }
  #tdEventsInfobox {
    background-image: linear-gradient(to bottom, #d1fbca, #ffffff);
    filter: drop-shadow(0 0 0.75rem rgba(1, 223, 54, 0.5)); } }
