.tdContainer .drivedrive-menu {
  display: none; }

#testdriveLogoTL {
  grid-column: 1 / 5;
  grid-row: 2 / span 2;
  margin-left: 4.5vw; }
  #testdriveLogoTL img {
    width: 90%;
    height: 60%;
    object-fit: contain; }

.tdEventActive {
  background-image: url("./../assets/Elements/Testdrive Events/TD-Events-Hover-Active-state-green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

#tdEventsInfobox {
  background-image: url("./../assets/Elements/Testdrive Events/TD-Events-infobox-green-gradient.png");
  filter: drop-shadow(0 0 0.75rem rgba(1, 223, 54, 0.5)); }

@media only screen and (min-device-width: 300px) and (max-device-width: 700px) and (orientation: portrait) {
  .testdr-title {
    height: 4.49775vh;
    width: 80.55556vw;
    z-index: 10; }
  #tdEventsInfobox {
    background-image: linear-gradient(to bottom, #d1fbca, #ffffff);
    filter: drop-shadow(0 0 0.75rem rgba(1, 223, 54, 0.5)); }
  #testdriveLogoTL {
    grid-column: 1 /  4;
    grid-row: 1;
    justify-self: center;
    align-self: start;
    margin-top: 3vh;
    width: 100%; }
    #testdriveLogoTL img {
      margin: 0;
      object-fit: contain;
      width: 90vw;
      height: 10vh;
      margin-left: 2vw; } }
