@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}
@function get-vw-mob($object) {
  $vw: (360 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh-mob($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

.ddevent-top-title {
  width: get-vw(723px);
  height: get-vh(33px);
  font-family: TimesNewRomanPSMT;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.9px;
  text-align: left;
}

.ddEventActive {
  background-image: url("./../assets/Elements/DriveDrive/Events/DD-Events-Hover-Active-state-pink.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#ddEventsInfobox {
  background-image: url("./../assets/optimizedImages/DD-Events-infobox-red-gradient-min.png");
  filter: drop-shadow(0 0 0.75rem rgba(246, 173, 173, 0.5));
}


@media only screen
and (min-device-width: 300px)
and (max-device-width: 700px)
and (orientation: portrait) {


@function get-mob-vw($object) {
  $vw: (300 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-mob-vh($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}



  .ddEventActive {
    background-image: url("./../assets/Elements/DriveDrive/Events/DD-Events-Hover-Active-state-pink.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #ddEventsInfobox {
    background-image: linear-gradient(to bottom, #fbcaca, #ffffff);
    filter: drop-shadow(0 0 0.75rem rgba(246, 173, 173, 0.5));
  }


}



@media only screen and (min-device-width: 376px) and (max-device-width: 736px) and (orientation: landscape) {

  .ddEventActive {
    background-image: url("./../assets/Elements/DriveDrive/Events/DD-Events-Hover-Active-state-pink.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }


}
