@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

.pageBreadCrumb{
  display: none;
}

.eventsContainer {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 5.9375vw);
  grid-template-rows: repeat(12, 8.33333%);
  grid-column-gap: 2.34375vw;
  margin: 0px;
  overflow-x: hidden; }

.eventsInfoBox {
  grid-column: 5 / 10;
  grid-row: 1 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48.05195vw;
  height: 99.70703vh;
  background-size: get-vw(740px) get-vh(1021px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  width: 93%;
  font-size: get-vw(20px);
  font-family: TimesNewRomanPSMT;
  font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.9px;
	text-align: left;
	color: #000000;
}

.events-img {
  width: 90%;
  height: auto;
  padding-left: 2.3vw;
}

.event-top-title {
  width: get-vw(723px);
  height: get-vh(33px);
  font-family: TimesNewRomanPSMT;
  font-size: get-vw(30px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.9px;
  text-align: left;
  margin-left: -1vw;
}

.eventsInfoHidden {
  display: none;
}

.eventList {
  grid-column: 1 / 4;
  grid-row: 5 / span 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 9.375vw;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30.24675vw;
  height: 9.85352vh;
  padding: 30px;
  margin: -22px;
      margin-left: 1vw;

  p {
    margin: 0;
    padding: 0;
  }

  .eventsDetailDate {
    margin-left: 59px;
    font-family: TimesNewRomanPSMT;
    font-size: get-vw(17px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222;
    cursor:pointer;
  }

  .eventsDetailTitle {
    margin-left: 59px;
    font-family: TimesNewRomanPSMT;
    font-size: get-vw(20px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222;
    cursor:pointer;
  }
}

#eve-disp {
  display: none;
}


#backButton {
  grid-column: 11 / 12;
  grid-row: 11 / span 2;
  justify-self: center;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 3vw;
    font-size: 3.24675vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.4px;
    text-align: left;
    color: #222222;
    cursor: pointer;
}

@media only screen
and (min-device-width: 300px)
and (max-device-width: 700px)
and (orientation: portrait) {


@function get-mob-vw($object) {
  $vw: (300 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-mob-vh($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}
  .eventsContainer {
    display: grid;
    grid-template-rows: 32.2962962962963vh 1fr 1fr;
    grid-template-columns: repeat(4, 22.22222222222222vw);
    grid-column-gap: 2.7777777777777777vw;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    .pageBreadCrumb {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-top: 18.814814814814813vh;
    display: inline;
    font-family: TimesNewRomanPSMT;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2.4px;
    text-align: center;
    color: #ffb760;
    -webkit-text-stroke: 0 #979797;
    }


    #backButton {
      display: none;
    }
   }

   .eventList {
     grid-column: 1 / 4;
     grid-row: 2 / 3;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100vw;
     margin: 0;
   }

   .eventDetails {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 95.26666666666667vw;
     height: 16.041979010494753vh;
      padding: 10px;
      margin: 0;
     p {
       margin: 0;
       padding: 0;
     }

     .eventsDetailDate {
       margin-left: 50px;
       font-family: TimesNewRomanPSMT;
       font-size: 2.54873vh;
       font-weight: normal;
       font-style: normal;
       font-stretch: normal;
       letter-spacing: -0.9px;
       text-align: left;
       color: #222222;
     }

     .eventsDetailTitle {
       margin-left: 50px;
       font-family: TimesNewRomanPSMT;
      font-size: 2.6vh;
       font-weight: normal;
       font-style: normal;
       font-stretch: normal;
       letter-spacing: -0.9px;
       text-align: left;
       color: #222222;
     }
   }

.eventDetailsHidden {
  display: none;
}

  .eventsInfoBox {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-end;
    transition: all 0.6s;
  }


.eventInfo {
  display: flex;
  flex-direction: column;
  width: 95%;
  font-size: 2.5vh;
  font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.9px;
	text-align: left;
	color: #000000;
}

.eventsInfoHidden {
  display: none;
}

  .events-img {
    width: 95%;
    height: auto;
    padding-left: 2vw;
  }

  .event-top-title {
    width: 100%;
    padding-right: 5vw;
    font-family: TimesNewRomanPSMT;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left;
  }

  .eventsInfoBoxHidden {
    display: none;
  }

}//closing portrait mobile


@media only screen
and (min-device-width: 376px)
and (max-device-width: 736px)
and (orientation: landscape) {


  .eventsInfoBox {
      grid-column: 6 / 9;
      margin-left: -4vw;
      grid-row: 1 / 12;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40.05195vw;
      height: 99.70703vh;
      background-size: 48.05195vw 99.70703vh;
      overflow-y: scroll;
      overflow-x: hidden;
  }

.eventList {
  grid-column: 1 / 4;
  grid-row: 5 / span 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-left: 17vw;
}
  .eventDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 23.24675vw;
      height: 9.85352vh;
      padding: 30px;
      margin: -20px;
      margin-left: -5vw;

      .eventsDetailTitle {
          margin-left: 1px;
          font-family: TimesNewRomanPSMT;
          font-size: 11px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: -0.9px;
          text-align: left;
          color: #222222;

      }

      .eventsDetailDate {
        margin-left: 1px;
        font-family: TimesNewRomanPSMT;
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -0.9px;
        text-align: left;
        color: #222222;
      }
  }

  .ddevent-top-title {
      margin-top: 1vh;
      font-size: 4.5vh;
}

.event-top-title {
    margin-top: 2vh;
    font-size: 4.5vh;
}

#testdriveLogoTL img {
    width: 90%;
    height: 80%;
    object-fit: contain;
    margin-top: -5vh;
}

}//closing landscape mobile

// /*iPhoneS5*//*Landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {


  .eventDetails .eventsDetailTitle {
      margin-left: 1px;
      font-family: TimesNewRomanPSMT;
      font-size: 3.6vh;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222;
  }

  // .eventInfo {
  //   // font-size: 3.8vh;
  //   display: flex;
  //   flex-direction: column;
  //   width: 95%;
  //   font-family: TimesNewRomanPSMT;
  //   font-weight: normal;
  // 	font-style: normal;
  // 	font-stretch: normal;
  // 	line-height: normal;
  // 	letter-spacing: -0.9px;
  // 	text-align: left;
  // 	color: #000000;
  // }
}
// /*iPhoneS5*//*Potrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

//   .eventInfo {
//     display: flex;
//     flex-direction: column;
//     width: 95%;
//     font-size: 2.5vh;
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: -0.9px;
//     text-align: left;
//     color: #000000;
// }

  .eventDetails .eventsDetailTitle {
      margin-left: 40px;
      font-family: TimesNewRomanPSMT;
      font-size: 2.6vh;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222;
  }

  .eventDetails .eventsDetailDate {
    margin-left: 40px;
    font-family: TimesNewRomanPSMT;
    font-size: 2.54873vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222;
}
 }


/*iPhonePLus*/ /*Landscape*/
 @media only screen
 and (min-device-width : 414px)
 and (max-device-width : 736px)
 and (orientation : landscape) {

   .eventDetails .eventsDetailTitle {
       margin-left: 1px;
       font-family: TimesNewRomanPSMT;
       font-size: 2.98vh;
       font-weight: normal;
       font-style: normal;
       font-stretch: normal;
       letter-spacing: -0.9px;
       text-align: left;
       color: #222222;
   }
   .eventList {
       grid-column: 1 / 4;
       grid-row: 5 / span 9;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-left: 15.375vw;
   }

   .eventDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23.24675vw;
    height: 9.85352vh;
    padding: 30px;
    margin: -20px;
    margin-left: 2vw;
}


 }

/*iPhoneX Portrait*/

 @media only screen
 and (min-device-width : 375px)
 and (max-device-width : 812px)
 and (-webkit-device-pixel-ratio : 3)
 and (orientation : portrait) {

   .eventDetails .eventsDetailDate {
      margin-left: 40px;
      font-family: TimesNewRomanPSMT;
      font-size: 2.34vh;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222;
  }

  .eventDetails .eventsDetailTitle {
    margin-left: 40px;
    font-family: TimesNewRomanPSMT;
    font-size: 2.34vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222;
}
 }



/*iPhoneX Landscape*/
 @media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {

  .eventList {
    grid-column: 1 / 4;
    grid-row: 5 / span 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10.375vw;
}
  //
  // .eventsInfoBox {
  //     grid-column: 6 / 9;
  //     margin-left: -4vw;
  //     grid-row: 1 / 12;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     width: 40.05195vw;
  //     height: 99.70703vh;
  //     background-size: 48.05195vw 99.70703vh;
  //     overflow-y: scroll;
  //     overflow-x: hidden;
  // }

  .eventDetails .eventsDetailTitle {
      margin-left: 20px;
      font-family: TimesNewRomanPSMT;
      font-size: 1.8vw;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222;
      cursor: pointer;
  }


  .eventDetails .eventsDetailDate {
      margin-left: 20px;
      font-family: TimesNewRomanPSMT;
      font-size: 1.8vw;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222;
      cursor: pointer;
  }

  .event-top-title {
    width: 46.94805vw;
    height: 3.22266vh;
    font-family: TimesNewRomanPSMT;
    font-size: 4.94805vh;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left;
    margin-left: -1vw;
}
}

/*iPad Protrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .eventList {
      grid-column: 1 / 4;
      grid-row: 1 / span 9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 9.375vw;
  }

  .eventDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30.24675vw;
      height:1.95352vh;
      padding: 30px;
      margin: -22px;
  }

  .eventDetails .eventsDetailTitle {

  margin-left: 30px;
  font-family: TimesNewRomanPSMT;
  font-size: 1.6vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.9px;
  text-align: left;
  color: #222222;
  cursor: pointer;
}

.eventDetails .eventsDetailDate {
    margin-left: 30px;
    font-family: TimesNewRomanPSMT;
    font-size: 1.6vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222;
    cursor: pointer;
}


 }

/*iPad in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

  .eventDetails .eventsDetailDate {
      margin-left: 30px;
      font-family: TimesNewRomanPSMT;
      font-size: 1.6vw;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222;
      cursor: pointer;
  }

  .eventDetails .eventsDetailTitle {
      margin-left: 30px;
      font-family: TimesNewRomanPSMT;
      font-size: 1.6vw;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222;
      cursor: pointer;
  }
  .eventDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30.24675vw;
    height: 7.85352vh;
    padding: 30px;
    margin: -22px;
    margin-left: -1vw;
}
}


/*iPad Pro*/
/*Portrait*/
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (orientation: portrait) and
(-webkit-min-device-pixel-ratio: 2) {


  .eventDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30.24675vw;
      height: 3.8vh;
      padding: 30px;
      margin: -22px;
  }



// .eventInfo {
//     display: flex;
//     flex-direction: column;
//     width: 93%;
//     font-size: 1.5vh;
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: -0.9px;
//     text-align: left;
//     color: #000000;
// }


}


/*iPad Pro*/
/*Landscape*/
@media only screen
and (min-device-width: 1366px)
and (max-device-height: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape)  {

  .eventList {
    grid-column: 1 / 4;
    grid-row: 2 / span 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 9.375vw;
}

.eventDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 29.24675vw;
    height: 9.85352vh;
    padding: 30px;
    margin: -22px;
    margin-left: 1vw;
}

.eventDetails .eventsDetailDate {
    margin-left: 30px;
    font-family: TimesNewRomanPSMT;
    font-size: 1.4039vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222;
    cursor: pointer;
}

.eventDetails .eventsDetailTitle {
    margin-left: 30px;
    font-family: TimesNewRomanPSMT;
    font-size: 1.4987vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222;
    cursor: pointer;
}

// .eventInfo {
//     display: flex;
//     flex-direction: column;
//     font-size: 2.4vh;
//     width: 93%;
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: -0.9px;
//     text-align: left;
//     color: #000000;
// }
}


@media only screen and (min-device-width: 1600px) and (orientation: landscape) {
  .eventDetails .eventsDetailDate {
    margin-left: 73px;
  }
  .eventDetails .eventsDetailTitle {
    margin-left: 73px;
  }
}
