@function get-vw($object) {
  $vw: (1540 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh($object) {
  $vh: (1024 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

.info {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 8.33333333%);
  grid-column-gap: get-vw(30px);
  overflow: hidden;
  margin: 0;
  background-image: url("./../assets/optimizedImages/Info-bgA-min.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

#error {
  display: none;
  color: red;
  height: 20px;
  font-size: get-vh(18px);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#infoContactBg {
  width: get-vw(446.4px);
  height: auto;
  position: fixed;
  z-index: -20;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

#infoContactInfo {
  width: 32.23377vw;
  height: 90%;
  grid-column: 1 / span 5;
  grid-row: 4/ span 9;
  justify-self: center;
  // align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222222;
  background-image: url("./../assets/optimizedImages/Info-contact-outline-min.png");
  // background-size: 30vw 58vh;
  background-size: 90%;
  background-repeat: no-repeat;
  margin-top: 8vh;
  margin-left: 8vw;

  .info-contact {
    z-index: 200;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-content: center;
    margin-top: -5vh;

    p {
      font-size: get-vw(18px);
      // font-size: 2vh;
      font-family: TimesNewRomanPSMT;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.05;
      letter-spacing: get-vw(-0.9px);
      text-align: left;
      margin-left: 4vw;
    }

    .facebook {
      margin-top: -2vh;

      a:link,
      a:visited {
        color: blue;
      }

      a:hover {
        color: rgb(255, 194, 120);
      }
    }

    .form-button {
      grid-column: 2 / span 4;
      grid-row: 10/ span 11;

      form {
        width: 20.36364vw;
        height: 4vh;
        display: flex;
        justify-content: start;
        align-items: center;
        border: 2px solid black;
        margin-left: 3.5vw;

        input {
          width: 16vw;
          height: 3.2vh;
          font-size: get-vh(18px);
          background: none;
          border: none;
          outline: none;
          font-family: TimesNewRomanPSMT;
        }
      }

      button {
        grid-column: 3 / span 4;
        margin-right: -22vw;
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: left;
        color: #222222;
        height: 4.5vh;
        /* width: 50%; */
        border: inherit;
        background: white;
        font-size: get-vh(20px);
        text-shadow: 1px 1px black;
        cursor: pointer;
      }
    }
  }
  //info-contact
}
//infoContactInfo

.sign-up-to-our-maili {
  // font-size: get-vw(20px);
  text-shadow: 1px 1px black;
  margin-left: 7vh;
  font-family: TimesNewRomanPSMT;
  font-size: get-vw(20px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.9px;
  text-align: left;
  color: #222222;
}

#credits {
  grid-column: 2 / 5;
  grid-row: 12;
  justify-self: start;
  align-self: center;
  white-space: nowrap;
  background-color: black;
  font-family: TimesNewRomanPSMT;
  font-size: get-vw(12px);
  color: white;
  text-align: left;
}

#infoMap {
  grid-column: 6 / 10;
  grid-row: 3 / 11;
  width: 95%;
  height: 100%;
  border: 1px solid black;
  -moz-box-shadow: 0 0 50px rgb(131, 21, 168);
  -webkit-box-shadow: 0 0 50px rgb(131, 21, 168);
  box-shadow: 0 0 50px rgb(131, 21, 168);
}

#testdriveLogoInfo {
  grid-column: 10 / 12;
  grid-row: 11 / span 12;
  justify-self: end;
  align-self: center;

  img {
    margin-right: -6vh;
    width: 23vw;
    margin-bottom: 5vh;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ STYLING FOR MENU - MOBILE ONLY ~~~~~~~~~~~~~~~~~~~~~ */
/* MOBILE DESIGN  */
/* FUNCTIONS TO CONVERT TO vh AND vw FOR MOBILE */
@function get-vw-mob($object) {
  $vw: (360 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}
@function get-vh-mob($object) {
  $vh: (667 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

@media only screen
and (min-device-width: 300px)
and (max-device-width: 700px)
and (orientation: portrait) {

  .info {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(10, 10%);
    background-image: url("./../assets/optimizedImages/Info-mobile-min.png");
    margin: 0;
    background-repeat: repeat-y;
    background-size: 100%;
    height: 190.25487vh;
  }

  #mobile-menu-info {
    grid-column: 2 / 4;
    grid-row: 1;
    justify-self: center;
    align-self: end;
    margin-right: 5vw;
    z-index: 30000;
  }

  #infoMap {
    grid-column: 1/ span 4;
    grid-row: 2 / span 4;
    margin-top: 2vh;
    width: 85%;
    height: 80%;
    margin-left: 5vw;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    -moz-box-shadow: 0 0 50px rgb(131, 21, 168);
    -webkit-box-shadow: 0 0 50px rgb(131, 21, 168);
    box-shadow: 0 0 50px rgb(131, 21, 168);
  }

  #infoContactInfo {
    width: 108vw;
    height: 100vh;
    grid-column: 1 / span 4;
    grid-row: 5/ span 9;
    object-fit: contain;
    margin-right: 22vw;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222222;
    background-image: url("./../assets/optimizedImages/Info-contact-outline-min.png");
    background-size: 109vw 75vh;
    background-repeat: no-repeat;
    margin-top: 8vh;
    margin-left: 8vw;

    .info-contact {
      grid-column: 1 / span 3;
      grid-row: 7/ span 9;
      z-index: 200;
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      // margin-top: -30vh;
      margin-bottom: 26vh;
      margin-left: 10vw;


      p {
        // font-size: get-vh(20px);
        font-size: 2.5vh;
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        letter-spacing: get-vw(-0.9px);
        text-align: left;
        margin-left: 4vw;
        margin-bottom: 2.5vw;
        // margin: 2vh;
      }


      .facebook {
        margin-bottom: 6vh;
      }

      .form-button {
        // grid-column: 2 / span 4;
        // grid-row: 10/ span 11;

      form {
        width: 85vw;
        height: 4vh;
        display: flex;
        justify-content: start;
        align-items: center;
        border: 2px solid black;
        margin-left: 3.5vw;

        input {
          height: 100%;
          width: 59vw;
          font-size: 15px;
          background: none;
          border: none;
          outline: none;
          font-family: TimesNewRomanPSMT;
        }
      }

      button {
        margin-right: -58px;
        margin-left: 8vw;
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: left;
        color: #222222;
        height: 4.6vh;
        border: inherit;
        background: white;
        font-size: 17px;
            padding: 5px 15px 5px 15px;
        text-shadow: 1px 1px black;
        cursor: pointer;
      }
    }
  }

    .sign-up-to-our-maili {
      // font-size: get-vw(20px);
      text-shadow: 1px 1px black;
      margin-left: 2vh;
      margin-top: -1vh;
      font-family: TimesNewRomanPSMT;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.9px;
      text-align: left;
      color: #222222;
    }
  }
  //infoContactInfo

  #testdriveLogoInfo {
    grid-column: 1 / span 4;
    grid-row: 9 / span 10;
    margin-bottom: -4vh;
    align-self: end;
    justify-self: end;
    height: 100%;
    width: 100%;
    background-image: url("/assets/mobile/info-testdrive-box-02.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    img {
      height: 100%;
      width: 90%;
      margin-top: 7vh;
    }
  }

  #credits {
    grid-row: 10;
    grid-column: 1 / span 4;
    padding-left: 5vh;
    margin-bottom: 0;
    justify-self: start;
    align-self: end;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    z-index: 3000;
  }
}


//mobile landscape
@media only screen
and (min-device-width: 376px)
and (max-device-width: 736px)
and (orientation: landscape) {

  .sign-up-to-our-maili {
    font-size: 10px;
    text-shadow: 0.5px 0.5px black;
  }

  #infoContactInfo .info-contact .form-button button {
    grid-column: 3 / span 4;
    margin-right: -22vw;
    font-family: TimesNewRomanPSMT;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    color: #222222;
    height: 4.5vh;
    /* width: 50%; */
    border: inherit;
    background: white;
    font-size: 1.95312vh;
    text-shadow: 0.3px 0.3px black;
    cursor: pointer;
}

  #infoContactInfo .info-contact .form-button form {
    width: 20.36364vw;
    height: 4vh;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    margin-left: 3.5vw;
}

}





//closing mobile landscape
////////// IPAD //////////  landscape
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
  #infoMap {
    grid-column: 6 / 11;
  }

  #infoContactInfo {
    grid-column: 2 / 5;
    grid-row: 5/ span 8;
    width: 38vw;
    height: 60vh;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    line-height: 1.05;
    letter-spacing: get-vw(-0.9px);
    text-align: left;
    color: #222222;

    .info-contact {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 2vh;
        margin-left: 3.5vw;
        font-size: 2vh;
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: get-vw(-0.9px);
        text-align: left;
        margin-bottom: 1vh;
      }
      // a{
      //   padding-top:  1vh;
      // }
      .form-button {
        margin-top: 3vh;
        margin-left: -1vw;
      }

      .sign-up-to-our-maili {
        text-shadow: 0.5px 0.5px black;
        margin-left: 6vh;
        margin-top: -1vh;
        font-size: 2.5vh;
      }

      #c-form {
        margin-left: 4.5vw;
        width: 20vw;
        height: 4.0vh;
        border: 2px solid black;

        input {
          width: 20vw;
          height: 100%;
          font-size: 16px;
          background: none;
          border: none;
          outline: none;
          font-family: TimesNewRomanPSMT;
        }
      }

      button {
        height: 3.42vh;
        grid-column: 3 / span 4;
        margin-right: -22vw;
        margin-left: -0.1vw;
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: left;
        border: inherit;
        background: white;
        font-size: 2.3vh;
        text-shadow: 1px 1px black;
        cursor: pointer;
      }

      .facebook {
        margin-bottom: 1vh;
      }
    }
    //info-contact
  }
  //infoContactInfo
}
//closing media q ipad landscape


@media only screen
and (min-device-width: 768px)
and (max-device-width : 1024px)
and (orientation: portrait) {


  #infoMap {
    grid-column: 6 / 11;
    grid-row: 3 / span 4;
  }

  #infoContactInfo {
    grid-column: 1 / 4;
    grid-row: 5 / span 12;
    justify-self: start;
    align-self: center;
    width: 57vw;
    display: flex;
    flex-direction: column;
    justify-content: start;

    .info-contact {
      margin-left: 6vw;
      margin-top: 3vh;
      display: inline-block;

      p {
        font-size: 1.7vh;
        margin-left: -1vw;
        margin-top: 1vh;
      }
      // a{
      //   padding-top:  1vh;
      // }
      .form-button {
        margin-top: 3vh;
        margin-left: -1vw;
      }

      .sign-up-to-our-maili {
        margin-left: 0.3vh;
      }

      #c-form {
        margin-left: 0;
        width: 29vw;
        height: 4.1vh;
        border: 2px solid black;

        input {
          width: 20vw;
          height: 100%;
          font-size: 16px;
          background: none;
          border: none;
          outline: none;
          font-family: TimesNewRomanPSMT;
        }
      }

      button {
        margin-left: 9vw;
        height: 3.42vh;
        width: 40%;
        grid-column: 3 / span 4;
        margin-right: -25vw;
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: left;
        color: #222222;
        border: inherit;
        background: white;
        font-size: 1.75312vh;
        text-shadow: 1px 1px black;
      }

      .facebook {
        margin-bottom: 1vh;
      }
    }
    //info-contact
  }
  //infoContactInfo

  .sign-up-to-our-maili {
    margin-left: 1vh;
    margin-top: 1vh;
    font-size: 2vh;
  }

  #testdriveLogoInfo {
    grid-row: 11 / 12;
    height: 100%;
    justify-self: center;
    align-self: center;

    img {
      width: 28.83117vw;
      margin-right: 1vh;
      margin-top: 2vh;
    }
  }

  #credits {
    font-size: 12px;
  }
}


/*iPad Pro*/
/*Portrait*/
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (orientation: portrait) and
(-webkit-min-device-pixel-ratio: 2) {
  /* STYLES GO HERE */
  #infoMap {
    grid-column: 6 / 11;
    grid-row: 3 / span 4;
  }

  #infoContactInfo {
    grid-column: 1 / 4;
    grid-row: 6 / span 12;
    justify-self: start;
    align-self: center;
    width: 57vw;
    display: flex;
    flex-direction: column;
    justify-content: start;

    .info-contact {
      margin-left: 6vw;
      margin-top: 3vh;
      display: inline-block;

      p {
        font-size: 1.7vh;
        margin-left: -1vw;
        margin-top: 1vh;
      }
      // a{
      //   padding-top:  1vh;
      // }
      .form-button {
        margin-top: 3vh;
        margin-left: -1vw;
      }

      .sign-up-to-our-maili {
        margin-left: 0.1vh;
      }

      #c-form {
        margin-left: 0;
        width: 29vw;
        height: 4.2vh;
        border: 2px solid black;

        input {
          width: 20vw;
          height: 100%;
          font-size: 16px;
          background: none;
          border: none;
          outline: none;
          font-family: TimesNewRomanPSMT;
        }
      }

      .facebook {
        margin-bottom: 1vh;
      }
    }
    //info-contact
  }
  //infoContactInfo

  .sign-up-to-our-maili {
    margin-left: 1vh;
    margin-top: 1vh;
    font-size: 2.1vh;
  }

  #testdriveLogoInfo {
    grid-row: 11 / 12;
    height: 100%;
    justify-self: center;
    align-self: center;

    img {
      height: 18vh;
      width: 28.83117vw;
      margin-right: 1vh;
      margin-top: 2vh;
    }
  }

  #credits {
    font-size: 12px;
  }
}


@media only screen
and (min-device-width: 1366px)
and (max-device-height: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  #infoMap {
    grid-column: 5 / 10;
    grid-row: 3 / 10;
    margin-left: 10vh;
    /* width: 95%; */
    /* height: 100%; */
    border: 1px solid black;
    -moz-box-shadow: 0 0 50px #8315a8;
    -webkit-box-shadow: 0 0 50px #8315a8;
    box-shadow: 0 0 50px #8315a8;
  }

  #infoContactInfo {
    width: 32.23377vw;
    height: 90%;
    grid-column: 1 / span 5;
    grid-row: 6/ span 9;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222222;
    background-image: url("./../assets/optimizedImages/Info-contact-outline-min.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 1vh;
    margin-left: 8vw;

    .info-contact {
      z-index: 200;
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: -5vh;
    }
  }

  .sign-up-to-our-maili {
    text-shadow: 1px 1px black;
    margin-left: 5vh;
    font-family: TimesNewRomanPSMT;
    font-size: 2vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #222222;
  }

  #infoContactInfo .info-contact .form-button form {
    width: 25.36364vw;
    height: 4vh;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    margin-left: 3.5vw;
  }

  #infoContactInfo .info-contact .form-button button {
    /* grid-column: 3 / span 4; */
    margin-right: -vw;
    margin-left: 2.6vh;
    font-family: TimesNewRomanPSMT;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    color: #222222;
    height: 4.4vh;
    width: 30%;
    border: inherit;
    background: white;
    font-size: 1.95312vh;
    text-shadow: 1px 1px black;
    cursor: pointer;
  }
}

// iphone x portrait
// @media only screen
// and (min-device-width: 375px)
// and (max-device-width: 812px)
// and (orientation: portrait) {
//
//   #testdriveLogoInfo {
//     margin-bottom: -7vh;
//   }

//
//   #infoContactInfo {
//     width: 108vw;
//     height: 100vh;
//     grid-column: 1 / span 4;
//     grid-row: 5/ span 9;
//     object-fit: contain;
//     margin-right: 22vw;
//     justify-self: center;
//     align-self: center;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     color: #222222;
//     background-image: url(./../assets/optimizedImages/Info-contact-outline-min.png);
//     background-size: 121vw 75vh;
//     background-repeat: no-repeat;
//     margin-top: 8vh;
//     margin-left: 8vw;
//     /* padding-right: 22vw; */
// }

//   #infoContactInfo .info-contact {
//       grid-column: 1 / span 3;
//       grid-row: 7/ span 9;
//       z-index: 200;
//       height: 90%;
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-content: center;
//       margin-bottom: 25vh;
//       margin-left: 10vw;
//   }
//
//   #infoContactInfo .info-contact .form-button button {
//       margin-right: -58px;
//       margin-left: 8vw;
//       font-family: TimesNewRomanPSMT;
//       font-weight: normal;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: normal;
//       text-align: left;
//       color: #222222;
//       height: 4.6vh;
//       border: inherit;
//       background: white;
//       font-size: 17px;
//       padding: 5px 15px 5px 14px;
//       text-shadow: 1px 1px black;
//       cursor: pointer;
//   }
//
// }
//closing iphoneX

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

    #infoMap {
    grid-column: 5 / 9;
    margin-left: 23px;
}

#infoContactInfo {
    width: 32.23377vw;
    height: 100%;
    grid-column: 1 / span 5;
    grid-row: 4/ span 10;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222222;
    background-image: url(/assets/Elements/Info/Info-contact-outline.png);
    background-size: 25vw 62vh;
    background-repeat: no-repeat;
    margin-top: 15vh;
    margin-left: 8vw;

    .info-contact {
    margin-bottom: 11vh;
    }

   }

   #infoContactInfo .info-contact .sign-up-to-our-maili {
    text-shadow: 0.5px 0.5px black;
    margin-left: 8vh;
    margin-top: -1vh;
    font-size: 2.5vh;
       font-size: 2.8vh;
        font-family: TimesNewRomanPSMT;
        font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.05;
      letter-spacing: -0.05844vw;
    text-align: left;
      color: #222222;
}

#infoContactInfo .info-contact p {

    margin-left: 3vw;
    font-size: 2.5vh;
    font-family: TimesNewRomanPSMT;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.05844vw;
    text-align: left;
    margin-bottom: 1vh;
}

#infoContactInfo .info-contact #c-form {
    /* margin-left: 4.5vw; */
    width: 18vw;
    height: 3.9vh;
    border: 1px solid black;
}

#infoContactInfo .info-contact #c-form {
    margin-left: 4vw;
    width: 18vw;
    height: 3vh;
    border: 1px solid black;
  }

  #infoContactInfo .info-contact #c-form input {
    width: 20vw;
    height: 100%;
    font-size: 8px;
    background: none;
    border: none;
    outline: none;
    font-family: TimesNewRomanPSMT;
}

#infoContactInfo .info-contact .form-button button {
grid-column: 3 / span 4;
margin-right: -22vw;
margin-left: -5vw;
font-family: TimesNewRomanPSMT;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
text-align: left;
color: #222222;
height: 3.5vh;
/* width: 50%; */
border: inherit;
background: white;
font-size: 1.95312vh;
text-shadow: 0.5px 0.5px black;
cursor: pointer;
}

#testdriveLogoInfo {
    grid-column: 10 / 12;
    grid-row: 11 / span 12;
    justify-self: end;
    align-self: center;
    margin-left: 5px;
}

 }//closing iphonex landscape


/*iPhone Plus*/
/*Portrait*/
 @media only screen
 and (min-device-width : 414px)
 and (max-device-width : 736px)
 and (orientation: portrait)
  {

   #infoContactInfo .info-contact .form-button button {
       margin-right: -58px;
       margin-left: 9vw;
       font-family: TimesNewRomanPSMT;
       font-weight: normal;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       text-align: left;
       color: #222222;
       height: 4.4vh;
       width: 20vw;
       border: inherit;
       background: white;
       font-size: 17px;
       padding: 3px 5px 20px 13px;
       text-shadow: 1px 1px black;
       cursor: pointer;
   }
 }


 /*iPhone Plus*/
 /*Landscape*/
 @media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {

  #infoMap {
    grid-column: 5 / 9;
    margin-left: 28px;
}

  #infoContactInfo {
    width: 42.23377vw;
    height: 100%;
    grid-column: 1 / span 6;
    grid-row: 4/ span 10;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222222;
    background-image: url(/assets/Elements/Info/Info-contact-outline.png);
    background-size: 29vw 65vh;
    background-repeat: no-repeat;
    margin-top: 11vh;
    margin-left: 8vw;
}

  #infoContactInfo .info-contact {
      margin-bottom: -4vh;
  }


  #infoContactInfo .info-contact .sign-up-to-our-maili {
    text-shadow: 0.5px 0.5px black;
    margin-left: 5vh;
    margin-top: 1vh;
    font-size: 2.5vh;
    font-size: 2.8vh;
    font-family: TimesNewRomanPSMT;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: -0.05844vw;
    text-align: left;
    color: #222222;
}


#infoContactInfo .info-contact #c-form {
    margin-left: 3vw;
    width: 18vw;
    height: 4vh;
    border: 1px solid black;
}
  }
